@model EzBusiness_ViewModels.Models.Humanresourcepayroll.MonthlyAdddedVM

@{
    ViewBag.Title = "Monthly Addition & Deduction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />*@

<script src="~/Scripts/EzComNDW.js"></script>
<script>
    $(function () {
        EzAuthentication("/MonthlyAddded");
        // EzsetDatetxt();
        EzdtePk('#Entry_Date1');
        EzGetMonthName1("#mont", new Date());
        EzGetYear1("#years", new Date());
        var lvHtml = $("#POContainer").html();
        $("#POListContainer1").hide();
        function GetLeaveList() {
            $.get("/MonthlyAddded/GetMonthlyAdddedList", function (response) {
                $("#POListContainer").html(response);
            });
        }
        $("#btnNew").click(function () {
            var n = EzAuthenticationBtn("/MonthlyAddded", "NewIt");
            if (n == 1) {
                $.get("/MonthlyAddded/AddMonthlyAddded", function (response) {
                    $("#POContainer").html(response);
                });
                $(this).css("visibility", "hidden");
                EzbtnNewAcVis();
                $("#POListContainer1").hide();
                $("#editshow").hide();
            }
        });
        $(".alert-close").click(function () {
            $("#editshow").hide();
        });
        $("#btnEdit").click(function () {
            var n = EzAuthenticationBtn("/MonthlyAddded", "ViewIt");
            if (n == 1) {
                $(this).css("visibility", "hidden");
                EzbtnEditAcVis();
                $("#POListContainer1").show();
                GetLeaveList();
                $("#editshow").show();
            }
        });

        $("#btnCancel").click(function () {
            $("#POContainer").html(lvHtml);           
            EzbtnCancelAcVis();
            $("#POListContainer1").hide();
            EzdtePk('#Entry_Date1');
            EzGetMonthName1("#mont", new Date());
            EzGetYear1("#years", new Date());
            $("#editshow").hide();
        });
        $("#btnDelete").click(function () {
            var n = EzAuthenticationBtn("/MonthlyAddded", "DeleteIt");

            //var date1 = Ezsetdtpkdate($('#Entry_Date1').val());
            // var k = EzSalrProcCondiont($("#EmpCode option:selected").val(), date1);
            debugger;
            var EmpCodeArr = [];
            $("#tablePODetails tbody tr").each(function (index, item) {
                var EmpCodetxt = $(this).find("[name*='EmpCode']").val();              
                if (EmpCodetxt != "0" ) {                    
                    EmpCodeArr.push(EmpCodetxt);
                }
            });
            var date1 = Ezsetdtpkdate($('#Entry_Date1').val());
            var k =0;

            if (n == 1) {//&& k==1
                k = EzSalrProcCondiont(EmpCodeArr, date1);
                if(k==1){
                $("#editshow").hide();
                const swalWithBootstrapButtons = Swal.mixin({
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false,
                })

                swalWithBootstrapButtons.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'No, cancel!',
                    reverseButtons: true
                }).then((result) => {
                    if (result.value) {
                        var PRADN001_CODE = $("[name*='PRADN001_CODE']").val();
                            $.getJSON("/DeleteMonthly", { PRADN001_CODE: PRADN001_CODE }).done(function (data) {
                                if (data.DeleteFlag) {                                   
                                    //EzbtnsaveAcVis("#POContainer");                                    
                                    //$("#POContainer").html(lvHtml);                                  
                                    //$("#btnCancel").trigger("click");
                                    //GetLeaveList();
                                    EzbtnsaveAcVis("#POContainer");
                                    
                                    $("#POContainer").html(lvHtml);
                                    GetLeaveList();
                                  //  Ezerrormsg("#ErrorMessage", "Record Deleted");

                                } else {
                                    EzAlertdele(PRADN001_CODE);
                                }
                        });
                        swalWithBootstrapButtons.fire(
                          'Deleted!',
                          'Your Code has been deleted.',
                          'success'
                        )
                    } else if (
                        // Read more about handling dismissals
                      result.dismiss === Swal.DismissReason.cancel
                    ) {
                        swalWithBootstrapButtons.fire(
                          'Cancelled',
                          'Your Code is safe :)',
                          'error'
                        )
                    }
                })
                
                //$("#editshow").hide();
                //if (confirm("Are you Sure?")) {
                //    var PRADN001_CODE = $("[name*='PRADN001_CODE']").val();
                //    $.getJSON("/DeleteMonthly", { PRADN001_CODE: PRADN001_CODE }).done(function (data) {
                //        if (data.DeleteFlag) {
                //           
                //            GetLeaveList();

                //            $("#btnCancel").trigger("click");
                //            Ezerrormsg("#ErrorMessage", "Record Deleted");

                //        } else {
                //            Ezerrormsg("#ErrorMessage", "Deletion failed");
                //        }
                //    });
                //}
                }
            }
        });

        $("#btnSave").click(function () {
            debugger;
            var n = EzAuthenticationBtn("/MonthlyAddded", "EditIt");
            var k = 0;
            var SA = 0;
            debugger;
            //var date1 = Ezsetdtpkdate($('#Entry_Date1').val());
            //var k = EzSalrProcCondiont($("#EmpCode option:selected").val(), date1);
            $("#editshow").hide();
            var EmpCodeArr = [];
            var EmpCodeArr1 = [];
            var InpAmtAry = [];
            var opMode = $("#hdnOperationMode").val();
            if (opMode == "Add") {//&& k==1
                // Code for Adding Purchase order
                var Monthly = {
                    EditFlag: false,
                    PRADN001_CODE: $("[name='PRADN001_CODE']").val(),
                    Entry_Date: Ezsetdtpkdate($("[name='Entry_Date1']").val()),
                    TYear: $("#hdnTYear").val(),
                    TMonth: $("#hdnTMonth").val(),
                    MonthlyAddded: [],
                };
                
                $("#tablePODetails tbody tr").each(function (index, item) {
                    debugger
                   
                    var EmpCodetxt = $(this).find("[name*='EmpCode']").val();
                    var EmpNametxt = $(this).find("[name*='EmpCode'] option:selected").text();
                    var arrE = EmpNametxt.split('-');
                    EmpNametxt = arrE[2];
                    var ADN_Amounttxt = $(this).find("[name*='ADN_Amount']").val();
                    var ADN_Act_codetxt = $(this).find("[name*='ADN_Act_code']").val();
                    var T_typetxt = $(this).find("[name*='T_type'] option:selected").val();
                    var Remarkstxt = $(this).find("[name*='Remark']").val();

                    if (EmpCodetxt != "0" && ADN_Amounttxt !="" && ADN_Act_codetxt !="") {
                        var MonthlyAdddedM = {
                            EmpCode: EmpCodetxt,
                            ADN_Amount: ADN_Amounttxt,
                            ADN_Act_code:ADN_Act_codetxt,
                            T_type: T_typetxt,
                            Remarks: Remarkstxt,
                            EmpName: EmpNametxt

                        };

                        Monthly.MonthlyAddded.push(MonthlyAdddedM);
                        if (T_typetxt=='D'){
                        EmpCodeArr.push(EmpCodetxt);
                        InpAmtAry.push(ADN_Amounttxt);
                        }
                        EmpCodeArr1.push(EmpCodetxt);
                    }
                });
                var date1 = Ezsetdtpkdate($('#Entry_Date1').val());
                var validationResult = ValidateForm(Monthly);
                if (validationResult.formValid) {
                    
                    if (EmpCodeArr1.length !== 0) {
                         k = EzSalrProcCondiont(EmpCodeArr1, date1);
                    }                    
                    if (EmpCodeArr.length !== 0 && k == 1) {
                        SA = EzSalrLast(EmpCodeArr, date1, InpAmtAry, 'Salary amount not enough');
                    }
                    else {                     
                        SA = 1;
                    }
                    if (k == 1 && SA==1) {
                        $.post("/SaveMonthly", Monthly).done(function (response) {
                            if (response.SaveFlag && !response.ErrorMessage.length > 0 ) {
                                EzbtnsaveAcVis("#POContainer");
                                EzAlertSave();
                                $("#POContainer").html(lvHtml);
                                GetLeaveList();
                            } else {
                                //Ezerrormsg("#ErrorMessage", response.ErrorMessage);
                                EzAlerterrtxt(response.ErrorMessage);
                            }
                        });
                    }

                } else {                   
                    //   Ezerrormsg("#ErrorMessage", validationResult.ErrorMessage);
                    EzAlerterrtxt(validationResult.ErrorMessage);
                }
            } else if (opMode == "Edit" && n == 1 ) {
                // Code for Adding Purchase order

                debugger;
                var Monthly = {
                    EditFlag: true,
                    PRADN001_CODE: $("[name='PRADN001_CODE']").val(),
                    Entry_Date: Ezsetdtpkdate($("[name='Entry_Date1']").val()),
                    TYear: $("#hdnTYear").val(),
                    TMonth: $("#hdnTMonth").val(),
                    MonthlyAddded: [],
                };

                $("#tablePODetails tbody tr").each(function (index, item) {
                 
                    var EmpCodetxt = $(this).find("[name*='EmpCode']").val();

                    var ADN_Amounttxt = $(this).find("[name*='ADN_Amount']").val();
                    var ADN_Act_codetxt = $(this).find("[name*='ADN_Act_code']").val();
                    var T_typetxt = $(this).find("[name*='T_type'] option:selected").val();
                    var Remarkstxt = $(this).find("[name*='Remark']").val();
                    var EmpNametxt = $(this).find("[name*='EmpCode'] option:selected").text();
                    var arrE = EmpNametxt.split('-');
                    EmpNametxt = arrE[2];
                    if (EmpCodetxt != "0" && ADN_Amounttxt !=""  && ADN_Act_codetxt != '') {
                        var MonthlyAdddedM = {
                            EmpCode: EmpCodetxt,
                            ADN_Amount: ADN_Amounttxt,
                            ADN_Act_code: ADN_Act_codetxt,
                            T_type: T_typetxt,
                            Remarks: Remarkstxt,
                            EmpName: EmpNametxt
                        };
                        Monthly.MonthlyAddded.push(MonthlyAdddedM);
                        if (T_typetxt == 'D') {
                            EmpCodeArr.push(EmpCodetxt);
                            InpAmtAry.push(ADN_Amounttxt);
                        }
                        EmpCodeArr1.push(EmpCodetxt);
                    }
                });
                var date1 = Ezsetdtpkdate($('#Entry_Date1').val());

                var validationResult = ValidateForm(Monthly);
                if (validationResult.formValid) {
                    if (EmpCodeArr1.length !== 0) {
                        k = EzSalrProcCondiont(EmpCodeArr1, date1);
                    }
                    if (EmpCodeArr.length !== 0 && k == 1) {
                        SA = EzSalrLast(EmpCodeArr, date1, InpAmtAry, 'Salary amount not enough');
                    }
                    else {
                        SA = 1;
                    }
                    if (k == 1 && SA == 1) {
                        $.post("/SaveMonthly", Monthly).done(function (response) {
                            if (response.SaveFlag && !response.ErrorMessage.length > 0) {
                                EzbtnsaveAcVis("#POContainer");
                                EzAlertSave();
                                $("#POContainer").html(lvHtml);
                                GetLeaveList();
                            } else {
                                //  Ezerrormsg("#ErrorMessage", response.ErrorMessage);
                                EzAlerterrtxt(response.ErrorMessage);
                            }
                        });
                    }
                    } else {
                    //Ezerrormsg("#ErrorMessage", validationResult.ErrorMessage);
                    EzAlerterrtxt(validationResult.ErrorMessage);
                    }
                }            

        });

        function ValidateForm(Monthly) {
            debugger;
            var response = {
                ErrorMessage: "",
                formValid: false
            };
            if (Monthly.EditFlag == false) {
                if (Monthly.PRADN001_CODE == "") {
                    response.ErrorMessage += "Addition-Deduction code,";
                }
            } else if (Monthly.EditFlag == true) {
                if (!Monthly.PRADN001_CODE) {
                    response.ErrorMessage += "Addition-Deduction code,";
                }
            }
            //else if (Monthly.EditFlag== true) {
            //    if (Monthly.PRADN001_CODE) {
            //        response.ErrorMessage += "PO Code,";
            //    }
           // }
            var k1 = Monthly.MonthlyAddded.length;
            var k2 = [];
            while (k1 > 0)
            {
                var em1 = Monthly.MonthlyAddded[k1 - 1].EmpCode + '' + Monthly.MonthlyAddded[k1 - 1].T_type;
                if (k2.indexOf(em1) == -1) {
                    k2.push(em1);
                } else {
                    response.ErrorMessage += "Emp Code,Deduction Type";
                   
                }                               
                k1 = k1 - 1;
            }
            
            
            if (Monthly.MonthlyAddded.length ==0) {
                response.ErrorMessage += "Emp Code,Amount and Act-Code";
            }
           

            if (response.ErrorMessage.length == 0) {
                response.formValid = true;
            }
            else
            {
                response.ErrorMessage = "Enter Mandatory Fields " + response.ErrorMessage + "."
            }

            return response;
        }

        function parseDate(s) {
            var b = s.split(/\D/);
            return new Date(b[0], --b[1], b[2]);
        }

        $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
            console.log(thrownError);
        });

        $(document).on("click", "#POList tbody tr", function () {
            EzbtnEditAcVis();
            var operationMode = $("#hdnOperationMode").val();
            if (operationMode == "Edit") {
                $("#POList > tbody").children().removeClass("active");
                $(this).addClass("active");
                var PRADN001_CODE = $(this).find("#hdnPRADN001_CODE").val();
                $.get("EditMonthlyAddded", { PRADN001_CODE: PRADN001_CODE }).done(function (response) {
                    $("#POContainer").html(response);
                    //$("#btnDelete").prop("disabled", false);
                    $("#btnDelete").css("visibility", "");
                });
            }
        });

    });

</script>
<style>
    .top-buffer {
        margin-top: 15px;
    }

    .fixed-width {
        width: 100px;
        float: left;
    }

    .fluid.row-fluid {
        margin-right: 100px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .customSpace {
        content: " ";
        display: inline-block;
        width: 40px;
    }

    div.scroll {
        width: 100%;
        height: 100%;
        overflow: scroll;
    }

    .contro {
        width: 13em;
    }
</style>


<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 btngrp">
    
        <div class="title-action">

            <button class="btn btn-primary btn1 neewbtn" id="btnNew"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;New</button>
            <button type="submit" class="btn btn-primary btn1" id="btnSave" style="visibility: hidden"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Save</button>

            <button class="btn btn-warning btn1" id="btnCancel" style="visibility: hidden"><span class="glyphicon glyphicon-off"></span>&nbsp; Cancel</button>
            <button class="btn btn-danger btn1" id="btnDelete" style="visibility: hidden"><span class="glyphicon glyphicon-remove"></span>&nbsp; Delete</button>
            <input type="hidden" id="hdnOperationMode" value="" />

          

        </div>
    </div>

    

</div><hr />

<div class="row">
    
</div>
<!-- Row start -->
<div class="row">
    <!--updated code-->

    <div class="col-md-12 no-padding navbar-expand-lg">
        <div class="panel panel-primary panl">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">Ez Business System</h3>
            </div>
            <div class="panel-body" style="margin-left:10px;">
                <label class="row" id="ErrorMessage" style="display:none"></label>

                @*<button id="capture" value="true" class="hb2Smf"></button>*@
                @*<span>Status: </span>
                <span id="status">Idle</span>
                <br><br>
                <textarea id="output" rows=10 placeholder="result"></textarea>
                <label>hii</label>*@

                <div class="tabbable-line boxless tabbable-reversed" id="POContainer">
                    <div class="custom-form-wrapper">
                        <div id="POContainer">
                            <div class="row">
                                <div class="custom-form-wrapper">
                                    <!-- BEGIN FORM-->
                                    <div class="form-horizontal">
                                        <div class="form-body">
                                           

                                            <div class="container" id="POListContainer">
                                                @Html.Action("GetMonthlyAdddedList", "MonthlyAddded")
                                            </div>


                                        </div>
                                    </div><br />
                                    <!-- END FORM-->
                                    <!-- <button>Hey, click me!</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal" id="editshow" role="dialog">
        <div class="modal-dialog m1" data-keyboard="false">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Ez Business System</h4>
                    <button type="button" style="float: right;margin-top: -26px;" class="btn btn-danger alert-close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    @*<div class="container scroll" id="POListContainer">
                        @Html.Action("GetMonthlyAdddedList", "MonthlyAddded")
                    </div>*@
                </div>


            </div>
        </div>
    </div>

</div>








