@model EzBusiness_ViewModels.Models.Humanresourcepayroll.OTVM

@{
    ViewBag.Title = "EmployeeAttendence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/Scripts/EzComNDW.js"></script>
<script>
    var paydeductons = [];
    $(function () {

        $('.selectpicker').selectpicker('refresh');

        GetDivisionList();
        //EzsetDatetxt();
        var dt1 = new Date().getToday();
        //$("#tablePODetails tbody tr").find('td:eq(1)').find("[name*='Dates']").prop("value", dt1);
        //$("#Dates").val(dt1);
        EzdtePk('#Att_Date,#Tdate');
        var arr = [];
        counter = 1;

        $('#Att_Date').on('dp.change', function (event) {
            counter = 1;
            arr = [];
            $("#tablePODetails > tbody tr").empty();
            $("#tablePODetails > tbody tr").remove();
        });

        $('#Tdate').on('dp.change', function (event) {
            counter = 1;
            arr = [];
            $("#tablePODetails > tbody tr").empty();
            $("#tablePODetails > tbody tr").remove();
        });
        $("#EmpCode").change(function () {

            counter = 1;
            arr = [];
            $("#tablePODetails > tbody tr").empty();
            $("#tablePODetails > tbody tr").remove();
        });
        $("#PrjCode").change(function () {

            counter = 1;
            arr = [];
            $("#tablePODetails > tbody tr").empty();
            $("#tablePODetails > tbody tr").remove();
        });
        $("#DivCode").change(function () {

            counter = 1;
            arr = [];
            $("#tablePODetails > tbody tr").empty();
            $("#tablePODetails > tbody tr").remove();
        });

        $("#tablePODetails").on("click", "[name*='btnDelete']", function () {
            arr.pop($(this).find("[name*='Datest']").val());
            counter--;
            $(this).closest("tr").remove();
        });
        var err = '';
        $("#btnadd").click(function () {
            err = '';
            var dt2 = Ezsetdtpkdate($("#Att_Date").val());
            var dt3 = Ezsetdtpkdate($("#Tdate").val());
            var typ1 = $("input:radio[name=optionsRadios]:checked").val();
            var e1 = '';
            var Emp, Prj, Div = '';
            if (typ1 == 'E') {
                err = 'Employee';
                e1 = $("#EmpCode option:selected").val();
                typ1 = 'Emp';
                Emp = e1;
                Prj = '-1';
                Div1 = '-1';
            } else if (typ1 == 'P') {
                err = 'Project';
                typ1 = 'Prj';
                e1 = $("#PrjCode option:selected").val();
                Emp = '-1';
                Prj = e1;
                Div1 = '-1';
            }
            else {
                err = 'Division';
                typ1 = 'Div';
                e1 = $("#DivCode option:selected").val();
                Emp = '-1';
                Prj = '-1';
                Div1 = e1;
            }
            duplicates = false;
            var value = Ezsetdtpkdate($("#Att_Date").val());
            if (e1 != '0'  && Att_Date !='') {
                if (arr.indexOf(value) == -1)
                {
                    arr.push(value);
                }
                else
                {
                    EzAlerterrtxt("Already Exit Date");
                    duplicates = true;
                }            
                if (e1 != '0' && duplicates == false && Att_Date != '') {
                    var date1 = Ezsetdtpkdate($('#Att_Date').val());
                    var a = [];
                    var a1 = [];
                    $.ajax({
                        async: false,
                        cache: false,
                        type: "POST",
                        data: "{EmpCode:'" + Emp + "',DivCode:'" + Div1 + "',prjCode:'" + Prj + "'}",
                        url: "/GetEmpRep",
                        dataType: 'Json',
                        contentType: "Application/json",
                        success: function (data) {
                            var k1 = data.length;
                            while (k1 > 0) {
                                a.push(data[k1 - 1].EmpCode);
                                a1.push(0);
                                k1--;
                            }

                        }
                    });
                    //$.ajax({
                    //    async: false,
                    //    cache: false,
                    //    type: "POST",
                    //    data: "{EmpCode:'" + e1 + "'}",
                    //    url: "/GetEmpRep",
                    //    dataType: 'Json',
                    //    contentType: "Application/json",
                    //    success: function (data) {
                    //        var k1 = data.length;
                    //        while (k1 > 0) {
                    //            a.push(data[k1 - 1].EmpCode);
                    //            a1.push(0);
                    //            k1--;
                    //        }

                    //    }
                    //});

                    var k = EzSalrProcCondiont(a, date1);
                    if (k == 1){
                    var newRow1;
                    newRow1 = GetPayDeductOnDDL(counter);
                    var dropAttendence = newRow1;
                    //   $.get("/GetAPDetailList", { EmpCode: e1, dte: dt2 }).done(function (response) {
                    $.get("/GetOTDet", { EmpCode: e1, dte: dt2, dte1: dt3, typ: typ1 }).done(function (response) {
                   
                    var ary = [];
                    ary = response;
                    if (ary.length == 0)
                    {
                        arr.pop(dt2);
                        EzAlerterrtxt("Timesheet does not exist");
                        duplicates = false
                    }
                    else
                    {
                        $("#btnSave").prop("disabled", false);
                        $("#btnCancel").prop("disabled", false);
                    }

                    for (var i = 0; i < ary.length; i++) {
                       // var weekday = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];

                        //var dy = new Date(EzdatefrmtRes2(ary[i].Att_Date));
                        //dy = (EzmonthNames[dy.getDay()]);
                        //var Readonly1 = "Readonly = 'true'";
                        //var Readonly2 = '';
                        //if (dy == "Friday")
                        //{
                        //    Readonly1 = '';
                        //    Readonly2 = "Readonly = 'true'";
                        //}
                        var tr1 = "<tr>";
                        var td = "<td><div class='form-group'>" + counter + "</div></td>"
                        var td4 = "<td><div class='form-group'><input  Readonly='true' class='form-control' name='EmpCode" + counter + "'></div></td>"
                        var td13 = "<td><div class='grid-group'><input type='text' Readonly='true' class='form-control' name='EmpName" + counter + "'></div></td>";
                        var td1 = "<td><div class='form-group'><input  Readonly='true' class='form-control' name='Datest" + counter + "'></div></td>"
                        var td2 = "<td><div>" + dropAttendence + "</div></td>";
                        var td3 = "<td><button type='button' class='btn btn-danger' name='btnDelete" + counter + "')'><span class='glyphicon glyphicon-remove'></span></button></td></tr>";
                        $("#tablePODetails").append(tr1 + td + td4 + td13 + td1 + td2 + td3);

                        var tr = $("#tablePODetails tbody tr");
                        tr.find("[name='Datest" + counter + "']").val(EzdatefrmtRes1(ary[i].Att_Date));
                        tr.find("[name='ATT" + counter + "']").val(ary[i].NHrs);
                        tr.find("[name='EmpCode" + counter + "']").val(ary[i].EmpCode);
                        tr.find("[name='EmpName" + counter + "']").val(ary[i].EmpName);
                        counter++;
                    }
                    });
                    }
            }
            }
            else {
                EzAlerterrtxt("Select " + err);
            }
        });

        $("#btnCancel").click(function () {
           
            arr.length = 0;
            $("#tablePODetails tbody tr").empty();
            EzdtePk('#Att_Date');
            $("#btnSave").prop("disabled", true);
            arr.length = 0;
            counter = 1;
            //$('#EmpCode').val('0');// == "0"
            
            //$("select#EmpCode")[0].selectedIndex = 0;
           
            $('#EmpCode').val(0);
            $('.selectpicker').selectpicker('refresh');

            //$('.selectpicker').selectpicker({
            //    style: 'btn-info',
            //    size: 4,

            //});
            //$("#EmpCode > [value=0]").attr("selected", "true");

            //Ezerrormsg("#ErrorMessage", "");
        });
        $("#btnSave").click(function () {
           
            var OTPayroll = {

                EmpCode: $("#EmpCode option:selected").val(),
                OTExtraATTnews: [],
            };

            $("#tablePODetails tbody tr").each(function (index, item) {
                debugger
                var EmpCodetxt = $(this).find("[name*='EmpCode']").val();
                var Datesttxt = Ezsetdtpkdate($(this).find("[name*='Datest']").val());
                var ddlPayDeductOn1 = $(this).find("[name*='ddlPayDeductOn1']").val();
                debugger;
                if ((Datesttxt != "0" && ddlPayDeductOn1 != "0" && EmpCodetxt != "0")) {
                    var OTExtraATT = {
                        Att_Date: Datesttxt,
                        ATT: ddlPayDeductOn1,
                        EmpCode: EmpCodetxt
                    };
                    OTPayroll.OTExtraATTnews.push(OTExtraATT);
                }
            });

            var validationResult = ValidateForm(OTPayroll);
            if (validationResult.formValid) {
                $.post("/SaveEmployeeAttendence", OTPayroll).done(function (response) {
                    if (response.SaveFlag && !response.ErrorMessage.length > 0) {
                        // $("#POContainer").html("<div class='row' id='ErrorMessage'><div class='col-lg-12 col-sm-12'><div class='alert alert-danger'><strong>Saved Successfully</strong></div></div></div>");
                       // Ezerrormsg("#ErrorMessage", "Saved Successfully");

                        //$("#btnEdit").prop("disabled", false);
                        //$("#btnDelete").prop("disabled", true);
                        //$("#btnNew").prop("disabled", false);
                        $("#btnSave").prop("disabled", true);
                        $("#btnCancel").prop("disabled", false);
                        //$("#hdnOperationMode").val("");
                        //$("#Dates").val(dt1);
                        EzsetDatetxt();
                        $('#EmpCode').val(0);
                        $('.selectpicker').selectpicker('refresh');
                        $("#tablePODetails tbody tr").empty();
                        arr.length = 0;
                        EzAlertSave();

                    } else {
                        //   $("#ErrorMessage").show().find("strong").text(response.ErrorMessage);
                        // Ezerrormsg("#ErrorMessage", response.ErrorMessage);
                        EzAlerterrtxt(response.ErrorMessage);
                    }
                });

            } else {
                //$("#ErrorMessage").show();
                //$("#ErrorMessage").find("strong").text(validationResult.ErrorMessage);
                // Ezerrormsg("#ErrorMessage", validationResult.ErrorMessage);
                EzAlerterrtxt(validationResult.ErrorMessage);
            }

            function ValidateForm(OTPayroll) {
                var response = {
                    ErrorMessage: "",
                    formValid: false
                };
                if (!OTPayroll.EmpCode) {
                    response.ErrorMessage += "Select Empcode,";
                }
                if (OTPayroll.OTExtraATTnews.length == 0) {
                    response.ErrorMessage += "Employee Code,Date and Attendance Type Mandatory,";
                }
                if (response.ErrorMessage.length == 0) {
                    response.formValid = true;
                }

                return response;
            }

            function parseDate(s) {
                var b = s.split(/\D/);
                return new Date(b[0], --b[1], b[2]);
            }

            $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
                console.log(thrownError);
            });
        });


        $("#EmpCode").change(function () {
           
            counter = 1;
            arr = [];
            $("#tablePODetails > tbody tr").empty();
            $("#tablePODetails > tbody tr").remove();
        });

        $('#Hemp').show();
        $('#Hdiv').hide();
        $('#HPrj').hide();

        $('input[type=radio][name=optionsRadios]').change(function () {
            debugger;

            if (this.value == "E") {
                $("#EmpCode").val(0);
                $('#Hemp').show();
                $('#Hdiv').hide();
                $('#HPrj').hide();
            }
            else if (this.value == "D") {
                $("#DivCode").val(0);
                $('#Hemp').hide();
                $('#Hdiv').show();
                $('#HPrj').hide();
            } else {
                $("#PrjCode").val(0);
                $('#Hemp').hide();
                $('#Hdiv').hide();
                $('#HPrj').show();
            }
            counter = 1;
            arr = [];
            $("#tablePODetails > tbody tr").empty();
            $("#tablePODetails > tbody tr").remove();
            $('.selectpicker').selectpicker('refresh');

        });
    });



    function GetPayDeductOnDDL(index) {
       

        if (paydeductons.length > 0) {
            var ddlPayDeductOn = "<select class='form-control' name='ddlPayDeductOn1" + index + "'>";
            for (var i in paydeductons) {
                ddlPayDeductOn += "<option value='" + paydeductons[i].Code + "'>" + paydeductons[i].LeaveName + "</option>";
            }
            ddlPayDeductOn += "</select>";
        }
        return ddlPayDeductOn;
    }
    /*Code For Bind Division Code*/
    function GetDivisionList() {
       
        var index = 1;
        $.ajax(

            {

            url: "/GetLeaveTypList",
            dataType: "json",
            success: function (data) {
               
                paydeductons = data;

                if (paydeductons.length > 0) {

                    var mySelect = $('#ddlPayDeductOn1');

                    for (var i in paydeductons) {
                        mySelect.append(
                            $('<option></option>').val(paydeductons[i].Code).html(paydeductons[i].LeaveName)
                        );
                    }
                }
            },
            error: function () {
                EzAlerterr();
            }
            });

        //$('.selectpicker').selectpicker({
        //    style: 'btn-info',
        //    size: 4,

        //});

        $('body').on('focus', ':input', function () {
            $(this).attr('autocomplete', 'off');
        });
    }

    //function Ezdatefrmt1(dte) {
    //    var now = new Date(parseInt(dte.substr(6)));
    //    var now = new Date(now);
    //    var day = ("0" + now.getDate()).slice(-2);
    //    var month = ("0" + (now.getMonth() + 1)).slice(-2);
    //    var today = now.getFullYear() + "-" + (month) + "-" + (day);
    //    return today;
    //}
    Date.prototype.getToday = function () {
        var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);

        var today = now.getFullYear() + "-" + (month) + "-" + (day);
        return today;
    }
</script>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 btngrp" >
       
        <div class="title-action">

            <button type="submit" class="btn btn-primary btn1" id="btnSave" disabled><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Save</button>

            <button class="btn btn-warning btn1" id="btnCancel"><span class="glyphicon glyphicon-off"></span>&nbsp; Cancel</button>

            <input type="hidden" id="hdnOperationMode" value="" />

        </div>
    </div>

</div><hr />
<!-- Row end -->
<!-- Row start -->
<div class="row">
    <label class="row" id="ErrorMessage" style="color:red">
        <strong></strong>
    </label>

    <!--updated code-->
    <div id="POContainer">

    </div>
    <div class="col-md-12 no-padding navbar-expand-lg">
        <div class="panel panel-primary panl">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">Ez Business System</h3>
            </div>
            <div class="panel-body" style="margin-left:10px;">
                <div class="tabbable-line boxless tabbable-reversed" id="SMAContainer">
                    <div class="custom-form-wrapper">
                        <div id="SMAContainer">
                            <div class="row">
                                <div class="custom-form-wrapper">
                                    <!-- BEGIN FORM-->
                                    <div class="form-horizontal">
                                        <div class="form-body">
                                            <div class="row">
                                              
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        
                                                            <label class="col-md-4 control-label">Type</label>
                                                       
                                                        <div class="col-md-8 input-field">
                                                            <label class="radio-inline">
                                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="E" checked="checked">
                                                                Employee
                                                            </label>
                                                            &nbsp;
                                                            <label class="radio-inline">
                                                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="D">
                                                                Division code
                                                            </label>
                                                            &nbsp;
                                                            <label class="radio-inline">
                                                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="P">
                                                                Project code
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-4" id="Hemp">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-5 ">Reporting Employee<i class="star">*</i></label>
                                                        <div class="col-md-7">
                                                            @Html.DropDownListFor(m => m.EmpCode, Model.EmpCodeList, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4" id="Hdiv">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Division<i class="star">*</i></label>
                                                        <div class="col-md-9">
                                                            @Html.DropDownListFor(m => m.DivCode, Model.DivCodeList, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4" id="HPrj">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Project<i class="star">*</i></label>
                                                        <div class="col-md-9">
                                                            @Html.DropDownListFor(m => m.PrjCode, Model.PrjCodeList, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">From Date</label>
                                                        <div class="col-md-9 input-field">
                                                            <input id="Att_Date" class="form-control datepicker" name="Att_Date">
                                                            @*@Html.HiddenFor(m => m.Att_Date)*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">To Date</label>
                                                        <div class="col-md-9 input-field">
                                                            <input id="Tdate" class="form-control datepicker" name="Att_Date">
                                                            @*@Html.HiddenFor(m => m.Att_Date)*@
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-primary btn1" id="btnadd"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Add</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--/row-->

                                        </div>
                                    </div><br />
                                    <!-- END FORM-->
                                    <div class="">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#home">Detail</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="home" class="tab-pane fade in active">
                                                <br /><br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div style="overflow-x:auto;" >
                                                            <table class="table table-bordered table-sm" id="tablePODetails">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Sr No</th>
                                                                        <th>Employee Code</th>
                                                                        <th>Employee Name</th>
                                                                        <th>Date</th>
                                                                        <th>Attendence Type</th>
                                                                        <th></th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody></tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- <button>Hey, click me!</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

