@model EzBusiness_ViewModels.Models.Humanresourcepayroll.SalaryProcessDetailsVM
@{
    var counter = 1;

}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<link href="~/Scripts/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
@*<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />*@

@*<script src="~/Scripts/EzComNDW.js"></script>*@
<script>

    EzdtePkMMyyEdit('#DateINMonth', "#Process_Date");
    debugger;
    var jq = $.noConflict(true);
    $(function () {
      //  var Code = $(this).find("#hdnprbmCode").val();
        debugger;
      //  $("#btncalculate").css("visibility", "hidden");
      //  $("#btnSave").css("visibility", "hidden");
        var Pdate = $(this).find("#Process_Date").val();
        //var month = $(this).find("#hdnprscssMonth").val();
        $.get("/SalaryProcess/GetSalaryProcessGridEdit", { SPDate: Pdate }).done(function (responce) {
            debugger;
            if(responce!=null)
            {
                debugger;
                GetslryDetailsDatatable(responce);
            }
        });
   
           function GetslryDetailsDatatable(responce)
        {
               debugger;
                jq.fn.dataTable.ext.errorMode = 'none';
                var t = jq('#tableslryDetails1').DataTable({
                    "ColumnDefs": [{ "targets": [0], "Visible": false, "searchable": false }],
                    data: responce,
                    "order": [[1, "desc"]],
                    "scrollX": true,
                    "destroy": true,
                    "columns": [
                         //{ "data": "srno" },
                       { "data": "Empcode" },
                       { "data": "Empname" },
                       { "data": "country" },
                       { "data": "Tmonth" },
                       { "data": "Tyear" },
                       { "data": "cmpycode" },
                       { "data": "ProfCode" },
                       { "data": "DepCode" },
                       { "data": "ComnPrjcode" },
                       { "data": "Division" },
                       { "data": "VisaLocation" },
                       { "data": "WorkLocation" },
                       { "data": "Total_Days" },
                       { "data": "Worked_Days" },
                       { "data": "a_basic" },
                       { "data": "a_hra" },
                       { "data": "a_Da" },
                       { "data": "a_tele" },
                       { "data": "a_trans" },
                       { "data": "a_car" },
                       { "data": "a_allowance1" },
                       { "data": "a_allowance2" },
                       { "data": "a_allowance3" },
                       { "data": "a_Totalsalary" },
                       { "data": "C_basic" },
                       { "data": "C_hra" },
                       { "data": "C_da" },
                       { "data": "C_tele" },
                       { "data": "C_trans" },
                       { "data": "C_car" },
                       { "data": "C_allowance1" },
                       { "data": "C_allowance2" },
                       { "data": "C_allowance3" },
                       { "data": "C_totalSalary" },
                       { "data": "loan_amt" },
                       { "data": "adn_amount" },
                       { "data": "nothrs" },
                       { "data": "extraOThrs" },
                       { "data": "hothrs" },
                       { "data": "wothrs" },
                       { "data": "not_rate_perhr" },
                       { "data": "hot_rate_perhr" },
                       { "data": "ExtraOT_rate_perhr" },
                       { "data": "wot_rate_perhr" },
                       { "data": "ExtraOTAmt" },
                       { "data": "NOTAmt" },
                       { "data": "HOTAmt" },
                       { "data": "WOTAmt" },
                       { "data": "NetSalary" },
                    ]
                });
                t.on('order.dt search.dt', function () {
                    t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
            }
    });
  
    $(".chckheaderdata").click(function () {
      
        if ($(this).prop('checked')) {

            $('#tableslryDetails1 tbody').find("input[type='checkbox']").prop('checked', $(this).prop('checked'));
        }
        else {
            $('#tableslryDetails1 tbody').find("input[type='checkbox']").prop('checked', $(this).prop('checked'));
        }
    });
    $(".datepicker").on("dp.show", function (e) {
        $(e.target).data("DateTimePicker").viewMode("months");
    });

</script>
<div class="row">
    <div class="custom-form-wrapper">
        <!-- BEGIN FORM-->
        <div class="form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">CODE</label>
                            <div class="col-md-8 input-field">
                                @Html.TextBoxFor(m => m.PRSP001_Code, new { @class = "form-control", @placeholder = "" })
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Date</label>
                            <div class="col-md-8 input-field">
                                <input id="DateINMonth" class="form-control datepicker" name="DateINMonth">
                                @*@Html.TextBoxFor(m => m.Process_Date, new { @class = "form-control", @placeholder = "" })*@
                                @Html.HiddenFor(m => m.Process_Date)
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <button class="btn btn-warning" type="text" id="btncalculate" style="width:10em">Calculate</button>
                    </div>
                    <!--/span-->
                </div>


            </div>
        </div><br />
        <!-- END FORM-->
        <div class="">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Detail</a></li>

            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <br /><br />
                    <div class="row">
                        <div class="col-md-12">
                            <div style="overflow-x:auto;">

                                <table class="table table-bordered table-sm" id="tableslryDetails1">
                                    <thead>
                                        <tr>
                                           
                                            @*<th>Sr No</th>*@
                                            <th>Employee Code</th>
                                            <th>Employee Name</th>
                                            <th>country</th>
                                            <th>Month</th>
                                            <th>Year</th>
                                            <th>Company Code</th>
                                            <th>Prof Code</th>
                                            <th>Dept Code</th>
                                            <th>Comman Project Code</th>
                                            <th>Division</th>
                                            <th>VisaLocation</th>
                                            <th>WorkLocation</th>
                                            <th>Total_Days</th>
                                            <th>Worked_Days</th>
                                            <th>a_basic</th>
                                            <th>a_hra</th>
                                            <th>a_Da</th>
                                            <th>a_tele</th>
                                            <th>a_trans</th>
                                            <th>a_car</th>
                                            <th>a_allowance1</th>
                                            <th>a_allowance2</th>
                                            <th>a_allowance3</th>
                                            <th>a_Totalsalary</th>
                                            <th>C_basic</th>
                                            <th>C_hra</th>
                                            <th>C_da</th>
                                            <th>C_tele</th>
                                            <th>C_trans</th>
                                            <th>C_car</th>
                                            <th>C_allowance1</th>
                                            <th>C_allowance2</th>
                                            <th>C_allowance3</th>
                                            <th>C_totalSalary</th>
                                            <th>Loan Amount</th>
                                            <th>Addition/Deduction Amount</th>
                                            <th>Nothrs</th>
                                            <th>extraOThrs</th>
                                            <th>hothrs</th>
                                            <th>wothrs</th>
                                            <th>not_rate_perhr</th>
                                            <th>hot_rate_perhr</th>
                                            <th>ExtraOT_rate_perhr</th>
                                            <th>wot_rate_perhr</th>
                                            <th>ExtraOTAmt</th>
                                            <th>NOTAmt</th>
                                            <th>HOTAmt</th>
                                            <th>WOTAmt</th>
                                            <th>NetSalary</th> 
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                @Html.Hidden("hdnCounter", (++counter))
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- <button>Hey, click me!</button> -->
    </div>
</div>