@model EzBusiness_ViewModels.Models.Humanresourcepayroll.SalaryProcessDetailsVM
@{
    var counter = 1;

}

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<script src="~/Content/assets/js/jquery.dataTables.min.js"></script>
<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
<script>

    EzdtePkMMyyEdit('#DateINMonth', "#CurrentDate");

    var jq = $.noConflict(true);
    $(function () {
        var Code = $(this).find("#hdnprbmCode").val();

        $.get("/SalaryProcess/GetSalaryProcessGridEdit", { salP_code: Code }).done(function (responce) {
          
            if(responce!=null)
            {
                        
                GetslryDetailsDatatable(responce);
            }
        });
   
           function GetslryDetailsDatatable(responce)
            {
                jq.fn.dataTable.ext.errorMode = 'none';
                var t = jq('#tableslryDetails1').DataTable({
                    "ColumnDefs": [{ "targets": [0], "Visible": false, "searchable": false }],
                    data: responce,
                    "order": [[1, "desc"]],
                    "scrollX": true,
                    "destroy": true,
                    "columns": [
                         { "data": null },
                        //{"data":null,
                        //"render": function (data) {
                        //    return "<label class='containerone'>" + "<input type='checkbox' class='chck' value='" + data.EmpCode + "'>" + "<span class='chekmark></span>" + "</label>";
                        //}
                       // },
                      
                               { "data": "EmpCode" },
                               { "data": "EmpName" },
                               { "data": "ProjectCode" },
                               { "data": "WorkingDay" },
                               { "data": "Present" },
                               { "data": "Leaves" },
                               { "data": "Absent" },
                               { "data": "SickLeaves" },
                               { "data": "WeeklyOff" },
                               { "data": "Holiday" },
                               { "data": "NormalOTHrs" },
                               { "data": "HolidayOTHrs" },
                               { "data": "WeeklyOffOTHrs" },
                               { "data": "ExtraOTHrs" },
                               { "data": "Salary" },
                               { "data": "MonthlyAddition" },
                               { "data": "TotalDeduction" },
                               { "data": "LoanDeduction" },
                               { "data": "TotalEarning" },
                               { "data": "NetSalary" },
                     
                    ]
                });
                t.on('order.dt search.dt', function () {
                    t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                        cell.innerHTML = i + 1;
                    });
                }).draw();
            }
    });
  
    $(".chckheaderdata").click(function () {
      
        if ($(this).prop('checked')) {

            $('#tableslryDetails1 tbody').find("input[type='checkbox']").prop('checked', $(this).prop('checked'));
        }
        else {
            $('#tableslryDetails1 tbody').find("input[type='checkbox']").prop('checked', $(this).prop('checked'));
        }
    });
    $(".datepicker").on("dp.show", function (e) {
        $(e.target).data("DateTimePicker").viewMode("months");
    });

</script>
<div class="row">
    <div class="custom-form-wrapper">
        <!-- BEGIN FORM-->
        <div class="form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">CODE</label>
                            <div class="col-md-8 input-field">
                                @Html.TextBoxFor(m => m.Code, new { @class = "form-control", @placeholder = "" })
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">Date</label>
                            <div class="col-md-8 input-field">
                                <input id="DateINMonth" class="form-control datepicker" name="DateINMonth">
                                @Html.HiddenFor(m => m.CurrentDate)
                            </div>
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <button class="btn btn-warning" type="text" style="width:10em">Calculate</button>
                    </div>
                    <!--/span-->
                </div>


            </div>
        </div><br />
        <!-- END FORM-->
        <div class="">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#home">Detail</a></li>

            </ul>
            <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                    <br /><br />
                    <div class="row">
                        <div class="col-md-12">
                            <div style="overflow-x:auto;">

                                <table class="table table-bordered table-sm" id="tableslryDetails1">
                                    <thead>
                                        <tr>
                                            <th>Sr No</th>
                                            @*<th><label class="containerone" style="padding-left:35px"><input type="checkbox" class="chck chckheaderdata"><span class="chekmark"></span></label></th>*@
                                          
                                            <th>Emp_Code</th>
                                            <th>Employee Name</th>
                                            <th>ProjectCode</th>
                                            <th>Working Days</th>
                                            <th>Present</th>
                                            <th>Absent</th>
                                            <th>Leaves</th>
                                            <th>Sick Leaves</th>
                                            <th>Weekly Off</th>
                                            <th>Holiday</th>
                                            <th>NOT Hrs</th>
                                            <th>HOT Hrs</th>
                                            <th>WOT hrs</th>
                                            <th>Extra OT Hrs</th>
                                            <th>Basic Salary</th>
                                            <th>Monthly Addition</th>
                                            <th>Monthly Deduction</th>
                                            <th>Loan Deduction</th>
                                            <th>Total Earning</th>
                                            <th>Net Salary</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                @Html.Hidden("hdnCounter", (++counter))
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <!-- <button>Hey, click me!</button> -->
    </div>
</div>