@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.SalaryProcessDetailsVM>

<script src="~/Content/assets/js/jquery.dataTables.min.js"></script>

<script src="~/Scripts/EzComNDW.js"></script>
<script>
    Ezsidetbl('#SalaryList', '#SalaryList tfoot th');       
</script>

<table id="SalaryList" class="table table-bordered table-hover editlist">
    <thead>
        <tr>
            <th>code</th>
            <th>Date</th>

        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>code</th>
            <th>Date</th>

        </tr>
    </tfoot>
    <tbody>
        @foreach (var sal in Model)
        {
            <tr>
                <td>
                    @Html.Hidden("hdnprbmCode", sal.Code)
                    @sal.Code
                </td>
                <td>
                    @Convert.ToDateTime(@sal.CurrentDate).ToString("dd/MM/yyyy") 
                </td>


            </tr>
        }
    </tbody>
</table>


