@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.ShiftMasterVM>
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Content/assets/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<script>
    Ezsidetbl("#POList", "#POList tfoot td", false, "#POList thead");
</script>

<table id="POList" class="table table-bordered table-hover editlist">
    <thead>
        <tr>
            <th>Code</th>
            <th>Shift Name</th>
            <th>Country</th>
         
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>Code</td>
            <td>Shift Name</td>
            <td>Country</td>

        </tr>
    </tfoot>
    <tbody>
        @foreach (var po in Model)
        {
            <tr>
                <td>
                    @Html.Hidden("hdnprbmCode", po.PRSFT001_code)
                    @po.PRSFT001_code
                </td>
                <td>
                    @po.ShiftName
                </td>
                <td>
                    @po.country
                </td>
                

            </tr>
        }
    </tbody>
</table>
