@model List<EzBusiness_ViewModels.Models.MenuItem.MenuItemsVM>
@*Scripts.Render("~/bundles/jquery")*@
<script src="/Scripts/jquery-1.10.2.js"></script>

<style>
    /*Here We will add some css for style our treeview*/
     .collapse {
        width: 15px;
        background-image: url('../../Images/move-to-next.png');
        background-repeat: no-repeat;
        /*background-position: -36px -17px;*/
        display: inline-block;
        cursor: pointer;
    }

    .expand {
        width: 15px;
        background-image: url('../../Images/move-to-next.png');
        background-repeat: no-repeat;
        /*background-position: -50px -17px;*/
        display: inline-block;
        cursor: pointer;      
    }

    .treeview ul {
        font: 14px Arial, Sans-Serif;
        margin: 0px;
        padding-left: 10px;
        list-style: none;
    }

    .treeview > li > a {
        font-weight: bold;
        
    }
  
    .treeview li {
    }

        .treeview li a {
            padding: 4px;
            font-size: 14px;
            display: inline-block;
            text-decoration: none;
            width: auto;
            color: #4ECDC4;
        }
    
  
</style>


<div style="padding: 10px;background-color: #555b5d;margin-top: -70px;margin-bottom:20px;">

   
        <label for="nav-search" class="col-2 col-form-label sr-only">Search links</label>
        <div class="col p-2">
            <input class="form-control form-control-sm search-filter" type="search" id="nav-search" placeholder="Search for Menu">
        </div>
    

    <div class="treeview" id="link-content">   
             
        @if (Model != null && Model.Count() > 0)
        {
            <ul class="abc">
                @TreeviewMenu.GetTreeView(Model, Model.FirstOrDefault().ParentFormID)
            </ul>
        }
    </div>
</div>



<script>

    $(document).ready(function () {
        debugger;
        $(".treeview li>ul").css('display', 'none'); // Hide all 2-level ul

  
        $(".collapsible").click(function (e) {
            debugger;           
            e.preventDefault();
            var breadcrumb = [];
            var treeView = this;
            //data
            $(this).toggleClass("collapse expand");
            $(this).closest('li').children('ul').slideToggle();
            jQuery.expr[':'].casecontains = (a, b, c) => jQuery(a).text().toUpperCase().indexOf(c[3].toUpperCase()) >= 0;

            if ($('#search1').val() != '') {

                $('#search1').val('');

                $(".treeview li>ul").css('display', 'none');

                // secretly unhide the collapsed links

                $('#link-content li.nav-item ul').hide();
                // if search is empty, show the div and reset columns
                $('#link-content li').show();
              
                //$(".treeview li>ul").children('td').eq(1).show();
          
              //var secondCell = $(".treeview li>ul").children()[0];
            //  alert(secondCell.textContent);
                // $('#search1').val('');
              var pathname = document.location.pathname; 
              var url = pathname;
            
              var currentItem = $(".treeview").find("[href$='" + url + "']");
              var i = 0;
                //$(this).toggleClass("collapse expand");
                //$(this).closest('li').children('ul').slideToggle();
              $(currentItem.parents("li").get().reverse()).each(function () {
                  debugger;
                  if (i != 0) {
                    
                      var path1 = $(this).attr('value');
                    
                  }
                  if (i == 0)
                  {

                      $(".treeview li>ul").first().show();
                  }

                  
                  i = i + 1;
              });


             
              debugger;
              e.preventDefault();
              var breadcrumb = [];
              var treeView = this;
                //data
              $(this).toggleClass("collapse expand");
              $(this).closest('li').children('ul').slideToggle();
              jQuery.expr[':'].casecontains = (a, b, c) => jQuery(a).text().toUpperCase().indexOf(c[3].toUpperCase()) >= 0;

            }
        });

       
    });

   
</script>


