@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.Leave_App_VW>

<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<script>
    $(document).ready(function () {
        Ezsidetbl1('#LVList', '#LVList tfoot td', false, "#LVList thead");
    });
</script>
   



<table id="LVList" class="table table-bordered table-hover">
    <thead>
        <tr class="tr">
            <th>Leave Application No</th>
            <th>Employee Code</th>
            <th>Employee Name</th>
      
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>LANo</td>
            <td>Emp Code</td>
            <td>Emp Name</td>

        </tr>
    </tfoot>
    <tbody>
        @foreach (var sm in Model)
        {
            <tr>
                <td>
                    @Html.Hidden("hdnPRLR001_CODE", sm.PRLR001_CODE)
                    @sm.PRLR001_CODE
                </td>                
                <td>
                    @sm.EmpCode
                </td>
                <td>
                    @sm.EmpName
                </td>
              
            </tr>
        }
    </tbody>
</table>
