
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script src="~/Content/assets/js/jquery.fancy-textbox.js"></script>
<link href="~/Content/css/fancy-textbox.css" rel="stylesheet" />*@

<div class="container-fluid body-content">
    <header class="home padding-150" id="header">
        <div class="container">

          

            <div class="row">
                <div class="col-md-12">
                    <div class="">
                        <img src="~/Content/assets/files/images/ezware_header_logo.png" class="img-responsive" style="margin: 30em 0 0 54em;" />
                       
                    </div>
                </div>

            </div>
        </div>
    </header>
</div>

<script>
 function pageLoad() {
            $('.anStyle').ftext();
        }
</script>