
@{
    ViewBag.Title = "TestDesign";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12 col-sm-6 col-xs-6 btngrp">

        <div class="title-action">
            <button class="btn btn-primary btn1 newbtn" id="btnNew"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;New</button>

            <button type="submit" class="btn btn-primary btn1" id="btnSave" style="visibility: hidden"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Save</button>

            <button class="btn btn-warning btn1" id="btnCancel" style="visibility: hidden"><span class="glyphicon glyphicon-off"></span>&nbsp; Cancel</button>
            <button class="btn btn-danger btn1" id="btnDelete" style="visibility: hidden"><span class="glyphicon glyphicon-remove"></span>&nbsp; Delete</button>
            <button class="btn btn-info btn1" id="btnPrint" style="visibility: hidden"><span class="glyphicon glyphicon-print"></span>&nbsp; Print</button>
            <input type="hidden" id="hdnOperationMode" value="" />

        </div>
    </div>

</div><hr />

<div class="row">
    <!--updated code-->

    <div class="col-md-12 no-padding navbar-expand-lg">
        <div class="panel panel-primary panl">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">Ez Business System</h3>
            </div>
            <div class="panel-body" style="margin-left:10px;">
                <label class="row" id="ErrorMessage" style="display:none"></label>
                <div class="tabbable-line boxless tabbable-reversed" id="DRContainer">
                    <div class="custom-form-wrapper" id="DRContainer">
                       
                            
                                <div class="custom-form-wrapper">
                                    <!-- BEGIN FORM-->
                                    <div class="form-horizontal">
                                        <div class="form-body">
                                            <div class="row">
                                                <!--updated code-->

                                                <div class="col-md-12 no-padding navbar-expand-lg">



                                                    <div class="panel-body" style="margin-left:10px;">
                                                        <div class="tabbable-line boxless tabbable-reversed" id="DRContainer">
                                                            <div class="custom-form-wrapper">
                                                                <div id="DRContainer">
                                                                    <div class="row">
                                                                        <div class="custom-form-wrapper">
                                                                            <!-- BEGIN FORM-->
                                                                            <div class="form-horizontal">
                                                                                <div class="form-body">
                                                                                    <div class="col-md-6">
                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div class="form-group">
                                                                                                    <label class="control-label col-md-3">Code<i class="star">*</i></label>
                                                                                                    <div class="col-md-9 input-field">
                                                                                                        <input type="text" name="" class="form-control"/>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <!--/span-->
                                                                                            <!--/span-->
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div class="form-group">
                                                                                                    <label class="control-label col-md-3">Name<i class="star">*</i></label>
                                                                                                    <div class="col-md-9 input-field">
                                                                                                        <input type="text" name="" class="form-control"/>

                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <!--/span-->
                                                                                            <div class="col-md-12">
                                                                                                <div class="form-group">

                                                                                                    <label class="control-label col-md-3">Print Name<i class="star">*</i></label>
                                                                                                    <div class="col-md-9 input-field">
                                                                                                        <input type="text" name="" class="form-control"/>

                                                                                                    </div>

                                                                                                </div>
                                                                                            </div>
                                                                                            <!--/span-->
                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div class="form-group">

                                                                                                    <label class="control-label col-md-3">Website<i class="star">*</i></label>
                                                                                                    <div class="col-md-9 input-field">
                                                                                                        <input type="text" name="" class="form-control"/>

                                                                                                    </div>

                                                                                                </div>
                                                                                            </div>
                                                                                        </div>




                                                                                        <div class="row">


                                                                                            <div class="col-md-12">
                                                                                                <div class="form-group">
                                                                                                    <label class="control-label col-md-3"> Email<i class="star">*</i></label>
                                                                                                    <div class="col-md-9 input-field">
                                                                                                        <input type="text" name="" class="form-control"/>

                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>



                                                                                        </div>


                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div class="form-group">
                                                                                                    <label class="control-label col-md-3">Tel<i class="star">*</i></label>
                                                                                                    <div class="col-md-9 input-field">
                                                                                                        <input type="text" name="" class="form-control"/>


                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>

                                                                                        </div>
                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div class="form-group">
                                                                                                    <label class="control-label col-md-3">Fax<i class="star">*</i></label>
                                                                                                    <div class="col-md-9 input-field">
                                                                                                        <input type="text" name="" class="form-control"/>


                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>


                                                                                        </div>

                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div class="form-group">
                                                                                                    <label class="control-label col-md-3">Address<i class="star">*</i></label>
                                                                                                    <div class="col-md-9 input-field">
                                                                                                        <input type="text" name="" class="form-control"/>

                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>


                                                                                        </div>

                                                                                     
                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div class="form-group">
                                                                                                    <label class="control-label col-md-3">Contact1</label>
                                                                                                    <div class="col-md-9 input-field">
                                                                                                        <input type="text" name="" class="form-control" />

                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="row">


                                                                                            <div class="col-md-12">
                                                                                                <div class="form-group">
                                                                                                    <label class="control-label col-md-3">Contact2</label>
                                                                                                    <div class="col-md-9 input-field">
                                                                                                        <input type="text" name="" class="form-control" />

                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>

                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div class="form-group">

                                                                                                    <label class="control-label col-md-3">Contact3 </label>
                                                                                                    <div class="col-md-9 input-field">
                                                                                                        <input type="text" name="" class="form-control"/>
                                                                                                    </div>

                                                                                                </div>
                                                                                            </div>


                                                                                        </div>
                                                                                    </div>

                                                                                    <div class="col-md-6">
                                                                                       
                                                                                            <div class="row">
                                                                                                <div class="col-md-12">
                                                                                                    <div class="form-group">
                                                                                                        <label class="control-label col-md-3">Credit Limit </label>
                                                                                                        <div class="col-md-8 input-field">
                                                                                                            <input type="text" name="" class="form-control" />
                                                                                                        </div>

                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>

                                                                                            <div class="row">
                                                                                                <div class="col-md-12">
                                                                                                    <div class="form-group">
                                                                                                        <label class="control-label col-md-3">Currency</label>
                                                                                                        <div class="col-md-8 input-field">
                                                                                                            <select class="form-control" id="sel1">
                                                                                                                <option>1</option>
                                                                                                                <option>2</option>
                                                                                                                <option>3</option>
                                                                                                                <option>4</option>
                                                                                                            </select>
                                                                                                        </div>
                                                                                                     </div>
                                                                                                 </div>
                                                                                            </div>
                                                                                             
                                                                                        <div class="">
                                                                                            <ul class="nav nav-tabs">
                                                                                                <li class="active"><a data-toggle="tab" href="#home">Detail</a></li>

                                                                                            </ul>
                                                                                            <div class="tab-content">
                                                                                                <div id="home" class="tab-pane fade in active">
                                                                                                    <br /><br />
                                                                                                    <div class="row">
                                                                                                        <div class="col-md-12">
                                                                                                            <div style="overflow-x:auto;">
                                                                                                                <table class="table table-bordered table-sm" id="tablePODetails">
                                                                                                                    <thead>
                                                                                                                        <tr class="tr">
                                                                                                                            <th>Sr No</th>
                                                                                                                            <th>Employee Code</th>
                                                                                                                            <th>Employee Name</th>
                                                                                                                            <th>Date</th>
                                                                                                                            <th>Att Type</th>
                                                                                                                            <th>N HRS</th>
                                                                                                                            <th>O HRS</th>
                                                                                                                            <th>FO THRS</th>
                                                                                                                            <th>HHRS</th>
                                                                                                                            <th>Extra THRS</th>
                                                                                                                        </tr>
                                                                                                                    </thead>
                                                                                                                    <tbody></tbody>
                                                                                                                </table>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    </div>
                                                                                                </div>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </div><br />
                                                                                <!-- END FORM-->

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>

                                                    <!-- Purchase Request List Start-->


                                                    <script>
            $(document).ready(function () {
                $(".alert-close").click(function () {
                    $("#editshow").hide();
                });
            });
                                                    </script>



                                                    <!-- Purchase Request List End -->
                                                    <!-- Row end -->
                                                </div>


                                            </div>

                                        </div>
                                    </div><br />
                                    <!-- END FORM-->

                                </div>
                           
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="modal" id="editshow" role="dialog">
        <div class="modal-dialog m1" data-keyboard="false">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Ez Business System</h4>
                    <button type="button" style="float: right;margin-top: -26px;" class="btn btn-danger alert-close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    @*<div class="container scroll" id="DRListContainer">
                            @Html.Action("GetDrs", "DutyResume")
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

















