@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.BankMasterVM>
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/js/dataTables.bootstrap4.min.js"></script>
<link href="~/Scripts/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Scripts/datatables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/EzComNDW.js"></script>
<script>
    $(document).ready(function () {
        Ezsidetbl1("#POList", "#POList tfoot td", false, "#POList thead");
    });
</script>

<div class="col-md-12 table-responsive">
<table id="POList" class="table table-bordered stripe display hover">
    <thead >
        <tr class="tr">
            <th>Code</th>
            <th>Bank Name</th>
            <th>Country</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>Code</td>
            <td>Bank Name</td>
            <td>Country</td>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var po in Model)
        {
            <tr>
                <td>
                    @Html.Hidden("hdnprbmCode", po.prbm001_code)
                    @po.prbm001_code
                </td>
                <td>
                    @po.Bank_name
                </td>
                <td>
                    @po.country
                </td>

            </tr>
        }
    </tbody>
</table>
</div>