@model IEnumerable<EzBusiness_ViewModels.Models.Humanresourcepayroll.LoanAppliationVM>

@{
    var a = 1;

}
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Scripts/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<script>
    Ezsidetbl('#POList', '#POList tfoot th', false, "#POList thead");

</script>
<div class="row">
    <div class="col-md-12">
        <div class="tabbable-line boxless tabbable-reversed" id="POContainer">
            <div class="custom-form-wrapper">
                <table id="POList" class="table table-bordered table-hover editlist">
                    <thead>
                        <tr>
                            <th>Emp Code</th>
                            <th>Emp Name</th>
                           


                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Emp Code</th>
                            <th>Emp Name</th>



                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var po in Model)
                        {
                            <tr>
                                <td>
                                    @Html.Hidden("hdnPRLA001_CODE", po.PRLA001_CODE)
                                    @po.PRLA001_CODE
                                </td>
                                <td>
                                    @po.EmpCode
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
                </div>
</div>
</div>
</div>

