
html {
    height: 100%;
}

    html body {
        height: 100%;
        overflow: hidden;
        background-color: #fff !important;
    }

body {
    /*background-image: url('../Content/Image/background/BG02.jpg');*/
    /*background-size: cover;*/
    background-color: #bed4e0 !important;
}

html body .container-fluid.body-content {
    position: absolute;
    top: 50px;
    bottom: 30px;
    right: 0;
    left: 0;
    overflow-y: auto;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background-color: #225175;
    background: linear-gradient(#225175, #3374a7);
    height: 50px;
    /*background: url('../Content/Image/background/BG01.jpg') repeat-x center;*/
    background-size: cover;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #225175;
    background: linear-gradient(#3374a7, #225175);
    height: 50px;
    /*background: url('../Content/Image/background/BG01.jpg') repeat-x center;*/
    background-size: cover;
}

.copyRights1 {
   font-weight: bold !important; 
   color: #ebff80 !important;
}

.copyRights2 {
    color: #a6f7ff;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold !important;
}
    .copyRights2:hover {
        color: #00e8ff;
        text-decoration: underline;
    }

.copyRights3 {
    color: #ffb251;
    font-weight: bold !important;
}
    .copyRights3:hover {
        color: #ff940c;
        text-decoration: underline;
    }

.inputStyle {
    color: #001248 !important;
    font-size: 1.1em !important;
}

.inputddl {
    width: 20px !important;
    background-color: #c6d9e4 !important;
    font-size: 0.9em !important;
    border: 1px solid silver;
}

.btnStyle {
    width:100px; 
    height:35px;
}
.btnStyle:hover {
    width: 96px;
}

.errorMsg {
    color: red;
    font-size: 1em;
}

.chkPwd {
    color: #ffffff !important;
    background-color: transparent !important;
    font-weight: normal;
}

.divHeading1 {
    font-size: large;
    color: #254992;
    text-align: center;
    margin-bottom: 10px;
}

.divHeading2 {
    color: #063188;
    text-align: center;
    margin-bottom: 20px;
}

.select2-container .select2-selection--single {
    height: 32px !important;
    padding: 3px 2px 2px 4px;
    font-size: 1em;
}