@model EzBusiness_ViewModels.Models.Humanresourcepayroll.SalarMpayrollVM

@{
    ViewBag.Title = "SalaryMaster";
}


@*<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/bootstrap-select.min.js"></script>
<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />*@
<script src="~/Scripts/EzComNDW.js"></script>

<script>
    $(function () {

        EzAuthentication("/SalaryM");
        EzdtePk('#Entery_date1,#Effect_From1');
        var smaHtml = $("#SMAContainer").html();
        $("#SMAListContainer1").hide();
        function GetSry() {
            $.get("/SalaryM/GetSryList", function (response) {
                $("#SMAListContainer").html(response);
            });
        }
        $("#btnNew").click(function () {
            var n = EzAuthenticationBtn("/SalaryM", "NewIt");
            if (n == 1) {
                $("#editshow").hide();
                $.get("SalaryM/AddSalaryDetailM", function (response) {
                    $("#SMAContainer").html(response);
                });
                $(this).prop("disabled", true);
                //$("#btnEdit").prop("disabled", true);
                //$("#btnDelete").prop("disabled", true);
                //$("#hdnOperationMode").val("Add");
                //$("#btnSave").prop("disabled", false);
                EzbtnNewAc();
                $("#SMAListContainer1").hide();
                $(".alert-close").click(function () {
                    $("#editshow").hide();
                });
            }
        });

        $("#btnEdit").click(function () {
            var n = EzAuthenticationBtn("/SalaryM", "ViewIt");
            if (n == 1) {
                $(this).prop("disabled", true);
                EzbtnEditAc();
                //$("#btnNew").prop("disabled", true);
                //$("#SMAContainer").html();
                //$("#hdnOperationMode").val("Edit");
                //$("#btnSave").prop("disabled", false);
                $("#SMAListContainer1").show();
                GetSry();
                $("#editshow").show();
            }
        });

        $("#btnCancel").click(function () {
            $("#SMAContainer").html(smaHtml);
            //$("#btnNew").prop("disabled", false);
            //$("#btnEdit").prop("disabled", false);
            //$("#btnDelete").prop("disabled", true);
            //$("#hdnOperationMode").val("");
            Ezsetzerotxt();
            EzbtnCancelAc();
            EzdtePk('#Entery_date1', '#Effect_From1');
          //  $("#btnSave").prop("disabled", true);
            $("#SMAListContainer1").hide();
            $("#editshow").hide();
        });


        //var Description = $("[name*='Description']");
        $("#btnDelete").click(function () {
            var n = EzAuthenticationBtn("/SalaryM", "DeleteIt");
            var date1 = Ezsetdtpkdate($('#Entery_date1').val());
            var k =0;
            if (n == 1) {
                k = EzSalrProcCondiont($("#EMPCODE option:selected").val(), date1);
                if (k == 1) {
                    const swalWithBootstrapButtons = Swal.mixin({
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                        buttonsStyling: false,

                    })

                    swalWithBootstrapButtons.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'No, cancel!',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.value) {
                            //code = $(tr).find("td:eq(0)").text().trim();
                            var PRSM001_CODE = $("[name*='PRSM001_CODE']").val();
                            $.getJSON("/DeleteSry", { PRSM001_CODE: PRSM001_CODE }).done(function (data) {
                                if (data.DeleteFlag) {
                                    GetSry();
                                    $("#btnCancel").trigger("click");
                                }
                                else {
                                    EzAlertdele(PRSM001_CODE);
                                }
                                //else {
                                //       $("#ErrorMessage").show().find("strong").text("Unable to Delete");
                                //     }
                            });
                            swalWithBootstrapButtons.fire(
                              'Deleted!',
                              'Your Code has been deleted.',
                              'success'
                            )

                        } else if (
                            // Read more about handling dismissals
                          result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalWithBootstrapButtons.fire(
                              'Cancelled',
                              'Your Code is safe :)',
                              'error'
                            )
                        }
                    })
              
                    $("#editshow").hide();
                }
            }
        });
        $("#btnSave").click(function () {
            debugger;
            var n = EzAuthenticationBtn("/SalaryM", "EditIt");

            var date1 = Ezsetdtpkdate($('#Entery_date1').val());
            var k = 0;

            $("#editshow").hide();
           
            var opMode = $("#hdnOperationMode").val();

            if (opMode == "Add" ) {

                // Code for Adding MainTable
                var salarym = {
                    EditFlag: false,
                    //PRSM001UID :$("[name*='PRSM001UID']").val(),
                    PRSM001_CODE :$("[name*='PRSM001_CODE']").val(),
                    CMPYCODE :$("[name*='CMPYCODE']").val(),
                    DIVISION :$("[name*='DIVISION']").val(),
                    COUNTRY :$("[name*='COUNTRY']").val(),
                    EMPCODE :$("[name*='EMPCODE'] option:selected").val(),
                    Entery_date	:Ezsetdtpkdate($("[name*='Entery_date1']").val()),
                    Effect_From	:Ezsetdtpkdate($("[name*='Effect_From1']").val()),
                    BASIC: $("#tablePODetails tbody tr").find("[name*='AMOUNT1']").val(),
                    BASICCAPTION: $("#tablePODetails tbody tr").find("[name*='Name1']").val(),
                    BASICACT: $("#tablePODetails tbody tr").find("[name*='Accountcode1']").val(),

                    HRA: $("#tablePODetails tbody tr").find("[name*='AMOUNT2']").val(),
                    HRACAPTION: $("#tablePODetails tbody tr").find("[name*='Name2']").val(),
                    HRAACT: $("#tablePODetails tbody tr").find("[name*='Accountcode2']").val(),

                    DA: $("#tablePODetails tbody tr").find("[name*='AMOUNT3']").val(),
                    DACAPTION: $("#tablePODetails tbody tr").find("[name*='Name3']").val(),
                    DAACT: $("#tablePODetails tbody tr").find("[name*='Accountcode3']").val(),

                    TELE: $("#tablePODetails tbody tr").find("[name*='AMOUNT4']").val(),
                    TELECAPTION: $("#tablePODetails tbody tr").find("[name*='Name4']").val(),
                    TELEACT: $("#tablePODetails tbody tr").find("[name*='Accountcode4']").val(),

                    TRANS: $("#tablePODetails tbody tr").find("[name*='AMOUNT5']").val(),
                    TRANSCAPTION: $("#tablePODetails tbody tr").find("[name*='Name5']").val(),
                    TRANSACT: $("#tablePODetails tbody tr").find("[name*='Accountcode5']").val(),

                    CAR: $("#tablePODetails tbody tr").find("[name*='AMOUNT6']").val(),
                    CARCAPTION: $("#tablePODetails tbody tr").find("[name*='Name6']").val(),
                    CARACT: $("#tablePODetails tbody tr").find("[name*='Accountcode6']").val(),

                    ALLOWANCE1: $("#tablePODetails tbody tr").find("[name*='AMOUNT7']").val(),
                    ALLOWANCE1CAPTION: $("#tablePODetails tbody tr").find("[name*='Name7']").val(),
                    ALLOWANCE1ACT: $("#tablePODetails tbody tr").find("[name*='Accountcode7']").val(),

                    ALLOWANCE2: $("#tablePODetails tbody tr").find("[name*='AMOUNT8']").val(),
                    ALLOWANCE2CAPTION: $("#tablePODetails tbody tr").find("[name*='Name8']").val(),
                    ALLOWANCE2ACT: $("#tablePODetails tbody tr").find("[name*='Accountcode8']").val(),

                    ALLOWANCE3: $("#tablePODetails tbody tr").find("[name*='AMOUNT9']").val(),
                    ALLOWANCE3CAPTION: $("#tablePODetails tbody tr").find("[name*='Name9']").val(),
                    ALLOWANCE3ACT: $("#tablePODetails tbody tr").find("[name*='Accountcode9']").val(),
                    TOTAL: $("[name*='TOTAL']").val(),
                   // SalaryMas: []

                };



                var validationResult = ValidateForm(salarym);
                if (validationResult.formValid) {

                    k = EzSalrProcCondiont($("#EMPCODE option:selected").val(), date1);
                    if (k == 1){
                    $.post("/SaveSry", salarym).done(function (response) {
                        if (response.SaveFlag && !response.ErrorMessage.length > 0) {
                            EzbtnsaveAc("#SMAContainer");
                            //Ezerrormsg("#ErrorMessage", validationResult.ErrorMessage);
                            GetSry();
                        } else {
                            // Ezerrormsg("#ErrorMessage", validationResult.ErrorMessage);
                            EzAlerterrtxt(response.ErrorMessage);
                        }
                    });
                    }

                } else {
                    //Ezerrormsg("#ErrorMessage", validationResult.ErrorMessage);
                    EzAlerterrtxt(validationResult.ErrorMessage);
                }
            } else if (opMode == "Edit" && n == 1 ) {
                    // Code for Adding Purchase order
                   
                    var salarym = {
                    EditFlag: true,
                    PRSM001_CODE: $("[name*='PRSM001_CODE']").val(),
                    CMPYCODE: $("[name*='CMPYCODE']").val(),
                    DIVISION: $("[name*='DIVISION']").val(),
                    COUNTRY: $("[name*='COUNTRY']").val(),
                    EMPCODE: $("[name*='EMPCODE'] option:selected").val(),
                    Entery_date: Ezsetdtpkdate($("[name*='Entery_date1']").val()),
                    Effect_From: Ezsetdtpkdate($("[name*='Effect_From1']").val()),
                    BASIC: $("#tablePODetails tbody tr").find("[name='BASIC']").val(),
                    BASICCAPTION: $("#tablePODetails tbody tr").find("[name*='BASICCAPTION']").val(),
                    BASICACT: $("#tablePODetails tbody tr").find("[name*='BASICACT']").val(),

                    HRA: $("#tablePODetails tbody tr").find("[name='HRA']").val(),
                    HRACAPTION: $("#tablePODetails tbody tr").find("[name*='HRACAPTION']").val(),
                    HRAACT: $("#tablePODetails tbody tr").find("[name*='HRAACT']").val(),

                    DA: $("#tablePODetails tbody tr").find("[name='DA']").val(),
                    DACAPTION: $("#tablePODetails tbody tr").find("[name*='DACAPTION']").val(),
                    DAACT: $("#tablePODetails tbody tr").find("[name*='DAACT']").val(),

                    TELE: $("#tablePODetails tbody tr").find("[name='TELE']").val(),
                    TELECAPTION: $("#tablePODetails tbody tr").find("[name*='TELECAPTION']").val(),
                    TELEACT: $("#tablePODetails tbody tr").find("[name*='TELEACT']").val(),

                    TRANS: $("#tablePODetails tbody tr").find("[name='TRANS']").val(),
                    TRANSCAPTION: $("#tablePODetails tbody tr").find("[name*='TRANSCAPTION']").val(),
                    TRANSACT: $("#tablePODetails tbody tr").find("[name*='TRANSACT']").val(),

                    CAR: $("#tablePODetails tbody tr").find("[name='CAR']").val(),
                    CARCAPTION: $("#tablePODetails tbody tr").find("[name*='CARCAPTION']").val(),
                    CARACT: $("#tablePODetails tbody tr").find("[name*='CARACT']").val(),

                    ALLOWANCE1: $("#tablePODetails tbody tr").find("[name='ALLOWANCE1']").val(),
                    ALLOWANCE1CAPTION: $("#tablePODetails tbody tr").find("[name*='ALLOWANCE1CAPTION']").val(),
                    ALLOWANCE1ACT: $("#tablePODetails tbody tr").find("[name*='ALLOWANCE1ACT']").val(),

                    ALLOWANCE2: $("#tablePODetails tbody tr").find("[name='ALLOWANCE2']").val(),
                    ALLOWANCE2CAPTION: $("#tablePODetails tbody tr").find("[name*='ALLOWANCE2CAPTION']").val(),
                    ALLOWANCE2ACT: $("#tablePODetails tbody tr").find("[name*='ALLOWANCE2ACT']").val(),

                    ALLOWANCE3: $("#tablePODetails tbody tr").find("[name='ALLOWANCE3']").val(),
                    ALLOWANCE3CAPTION: $("#tablePODetails tbody tr").find("[name*='ALLOWANCE3CAPTION']").val(),
                    ALLOWANCE3ACT: $("#tablePODetails tbody tr").find("[name*='ALLOWANCE3ACT']").val(),
                    TOTAL: $("[name*='TOTAL']").val(),
                    //SalaryMas: []

                    };

 

                var validationResult = ValidateForm(salarym);
                if (validationResult.formValid) {
                    k = EzSalrProcCondiont($("#EMPCODE option:selected").val(), date1);
                    if(k==1){
                    $.post("/SaveSry", salarym).done(function (response) {
                        if (response.SaveFlag && !response.ErrorMessage.length > 0) {
                           
                            EzbtnsaveAc("#SMAContainer");
                            //Ezerrormsg("#ErrorMessage", validationResult.ErrorMessage);
                            $("#hdnOperationMode").val("");
                            GetSry();
                        } else {
                            // Ezerrormsg("#ErrorMessage", validationResult.ErrorMessage);
                            EzAlerterrtxt(response.ErrorMessage);
                        }
                    });
                    }
                } else {
                    //Ezerrormsg("#ErrorMessage", validationResult.ErrorMessage);
                    EzAlerterrtxt(validationResult.ErrorMessage);
                }
            }


        });

        function ValidateForm(salarym) {
            var response = {
                ErrorMessage: "",
                formValid: false
            };
            if (salarym.PRSM001_CODE == '') {
                response.ErrorMessage += "PRSM001_CODE are mandatory Fields.";
            }

            if (!salarym.Entery_date) {
                response.ErrorMessage += "Entery_date,";
            }
            if (!salarym.Effect_From) {
                response.ErrorMessage += "Effect_From,";
            }

            if (salarym.EMPCODE=='0') {
                response.ErrorMessage += "Employee Code are mandatory Fields.";
            }

            if (salarym.TOTAL == '0.00' || salarym.TOTAL == '0')
            {
                response.ErrorMessage += "Enter Amount.";
            }


                    if (response.ErrorMessage.length == 0) {
                        response.formValid = true;
                    }

                    return response;
                }


                $(document).ajaxError(function (event, jqxhr, settings, thrownError) {
                    console.log(thrownError);
                });

                $(document).on("click", "#SMAList tbody tr", function ()
                {
                    
                    var operationMode = $("#hdnOperationMode").val();
                    if (operationMode == "Edit")
                    {
                       
                        $("#SMAList > tbody").children().removeClass("active");
                        $(this).addClass("active");
                        var PRSM001_CODE = $(this).find("#hdnPRSM001_CODE").val();                        
                        $.get("EditSalary", { PRSM001_CODE: PRSM001_CODE }).done(function (response)
                        {
                            $("#SMAContainer").html(response);
                            $("#btnDelete").prop("disabled", false);
                        });
                    }
                });
            });



</script>
<style>
    .top-buffer {
        margin-top: 15px;
    }

    .fixed-width {
        width: 100px;
        float: left;
    }

    .fluid.row-fluid {
        margin-right: 100px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .customSpace {
        content: " ";
        display: inline-block;
        width: 40px;
    }

    div.scroll {
        width: 300px;
        height: 500px;
        overflow: scroll;
    }
</style>


<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 15px">
        <ol class="breadcrumb">
            <li class="active strong1">
                <strong>Salary Master</strong>
            </li>
        </ol>
        <div class="title-action">
            <button class="btn btn-primary btn1" id="btnNew"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;New</button>

            <button type="submit" class="btn btn-success btn1" id="btnEdit" data-toggle="modal" data-target="#editshow" data-keyboard="true"><span class="glyphicon glyphicon-edit"></span>&nbsp; Edit</button>

            <button type="submit" class="btn btn-primary btn1" id="btnSave" disabled><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Save</button>

            <button class="btn btn-danger btn1" id="btnDelete" disabled><span class="glyphicon glyphicon-remove"></span>&nbsp; Delete</button>

            <button class="btn btn-warning btn1" id="btnCancel"><span class="glyphicon glyphicon-off"></span>&nbsp; Cancel</button>

            <input type="hidden" id="hdnOperationMode" value="" />

        </div>
    </div>

</div><hr />
<!-- Row end -->
<!-- Row start -->
<div class="row">
    <!--updated code-->

    <div class="col-md-12 no-padding navbar-expand-lg">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">Ez Business System</h3>
            </div>
            <div class="panel-body" style="margin-left:10px;">
                <label class="row" id="ErrorMessage" style="color:red;">
                    <strong></strong>
                </label>
                <div class="tabbable-line boxless tabbable-reversed" id="SMAContainer">
                    <div class="custom-form-wrapper">
                        <div id="SMAContainer">
                            <div class="row">
                                <div class="custom-form-wrapper">
                                    <!-- BEGIN FORM-->
                                    <div class="form-horizontal">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Code</label>
                                                        <div class="col-md-8 input-field">
                                                            <input type="text" class="form-control" name="" required placeholder="" maxlength="50" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Employee</label>
                                                        <div class="col-md-8">
                                                            <select class="form-control" name="">
                                                                <option value="">---Select---</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>
                                            <!--/row-->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Entry Date</label>
                                                        <div class="col-md-8 input-field">
                                                            <input id="Entery_date1" class="form-control datepicker" name="Entery_date1" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label col-md-3">Effect From</label>
                                                        <div class="col-md-8 input-field">
                                                            <input id="Effect_From1" class="form-control datepicker" name="Effect_From1" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--/span-->
                                            </div>

                                            
                                        </div>
                                    </div><br />
                                    <!-- END FORM-->
                                    <div class="">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#home">Detail</a></li>

                                        </ul>
                                        <div class="tab-content">
                                            <div id="home" class="tab-pane fade in active">
                                                <br /><br />
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div style="overflow-x:auto;">
                                                            <table class="table table-bordered table-sm" id="tablePODetails">
                                                                <tr>
                                                                    <th>Sr No</th>
                                                                    <th>Code</th>
                                                                    <th>Name</th>
                                                                    <th>Account Code</th>
                                                                    <th>Amount</th>
                                                                </tr>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                1
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                <input type="text" class="grid-control" name="" required placeholder="" maxlength="50" />
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                <input type="text" class="grid-control" name="" required placeholder="" maxlength="50" />
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <div class="grid-group">
                                                                                <input type="text" class="grid-control" name="" required placeholder="" maxlength="50" />
                                                                            </div>
                                                                        </td>


                                                                        <td>
                                                                            <div class="grid-group">
                                                                                <input type="text" class="grid-control" name="" required placeholder="" maxlength="50" />
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <th></th>
                                                                        <th class="id1">Total</th>
                                                                        <th class="id1"></th>
                                                                        <th class="id1"></th>
                                                                        <th class="id1"></th>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- <button>Hey, click me!</button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


   

    <div class="modal" id="editshow" role="dialog">
        <div class="modal-dialog m1" data-keyboard="false" style="width: 350px;height: auto;margin-left:800px;margin-top:50px;">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Ez Business System</h4>
                    <button type="button" style="float: right;margin-top: -26px;" class="btn btn-danger alert-close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-close"></i></button>

                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container scroll" id="SMAListContainer">
                        @Html.Action("GetSryList", "SalaryM")
                    </div>
                </div>


            </div>
        </div>
    </div>






    <!-- Purchase Request List End -->
    <!-- Row end -->
</div>






