
a {
    color: #001190;
    text-decoration: none;
}

::placeholder {
    color: #797979 !important;
    opacity: 1 !important;
}

:-ms-input-placeholder {
    color: #797979 !important;
}

::-ms-input-placeholder {
    color: #797979 !important;
}

.gridDetails {
    color: #000735;
    background-color: #ffffff;
}

    .gridDetails th {
        color: #fff;
        padding: 5px 10px 5px 10px;
        background-color: #5c87b2 !important;
        border-bottom: solid 1px #5D7B9D;
        font-weight: normal;
        text-align: left;
        font-size: 1.2em;
    }

    .gridDetails td {
        font-weight: normal;
        text-align: left;
        font-size: 1.1em;
        padding: 0 10px 0 10px;
        border: solid 1px silver !important;
    }

    .gridDetails tr:hover {
        /*background-color: #eee !important;*/
    }

.GridPager a, .GridPager span {
    display: block;
    height: 22px;
    width: 20px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    font-size: 8pt;
    font-family: Arial;
    padding: 3px 1px;
    color: #353535 !important;
}

.GridPager a {
    background-color: #ffffff;
    color: #969696;
    border: 1px solid #d0d0d0;
}

    .GridPager a:hover {
        /*background-color: #dedede !important;*/
    }

    .GridPager span {
        background-color: #5c87b2;
        color: #fff !important;
        border: 1px solid #5c87b2;
    }

    .detgrid th {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 4px;
        padding-right: 4px;
        color: #ffffff;
        background-color: #3c7ab7;
        font-weight: normal;
        text-align: center;
        border-bottom: solid 1px white;
        font-size: 1.2em;
        border: solid 1px #86a4c1 !important;
}

    .detgrid td {
        font-weight: normal;
        text-align: center;
        border: solid 1px #bfbfbf;
        font-size: 1em;
        padding-left: 4px;
        padding-right: 4px;
    }

    .FreezeColHeader {
        color: #084c80 !important;
        background-color: #a7bad0 !important;
        font-weight: normal !important;
    }

.FreezeColtxt1 {
    width: 50px;
    height: 25px;
    text-align: center;
    font-size: 0.9em !important;
    background-color: #ced9e6 !important;
    border: none;
}

.FreezeColtxt2 {
    width: 104px;
    height: 25px;
    text-align: center;
    font-size: 0.9em !important;
    background-color: #ced9e6 !important;
    border: none;
}

.logoImg {
    width: 160px;
    height: 43px;
    float: left;
    margin-top: 5px;
}

.div_Usr {
    margin-top: 16px !important;
    font-size: 1.1em;
    float: right;
    font-weight: bold !important;
    margin-right: 60px;
}

.section-title {
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    line-height: 2.9;
    font-weight: bold !important;

}

.row {
    margin: 0;
}

.navbar {
    background-color: #f3f3f3 !important;
    width: 100% !important;
    margin: 0 !important;
    height: auto !important;
}

.navbar-inverse {
    background-color: transparent;
    border-color: #9e9e9e;
}

    .navbar-inverse .navbar-nav > li > a {
        color: #000000;
        /* border-right: 1px groove #c5c5c5; */
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        /* border-bottom: 1px groove #c5c5c5; */
        border: none !important;
        border-top: 2px solid transparent !important;
        font-weight: 500;
    }

        .navbar-inverse .navbar-nav > li > a:hover {
            background-color: #fff;
            color: #444444;
            border-top: 2px solid #B73135 !important;
        }

        .navbar-inverse .navbar-nav > li > a:active {
            background-color: #fff;
            color: #444444;
            border-top: 2px solid #B73135 !important;
        }

    .navbar-inverse .navbar-brand {
        color: #b4fbff;
        font-size: 20px;
    }

.Ez-title {
    font-size: 1.4em;
    font-family: Garamond;
    font-weight: bold;
}

.panel {
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    border-radius: 0px;
    background-color: transparent !important;
}

.gridNot {
    color: #000735;
    background-color: #f9f9f9;
}

    .gridNot th {
        color: #fff;
        padding: 2px 6px 2px 6px;
        background-color: #5c87b2 !important;
        border-bottom: solid 1px #636363;
        font-weight: normal;
        text-align: left;
        font-size: 1.2em;
    }

    .gridNot td {
        font-weight: normal;
        text-align: left;
        font-size: 1.2em;
        padding: 6px;
        border: solid 1px #d4d4d4 !important;
    }

    .gridNot tr:hover {
        background-color: #f3f3f3 !important;
    }

.gridNotALtRow {
    background-color: #f9f9f9 !important;
    color: #000735 !important;
}

.btn {
    color: #ffffff !important;
    font-weight: 600 !important;
    border: 0 !important;
    border-bottom: 4px solid !important;
    margin: 0 !important;
    -webkit-box-shadow: 0 5px 5px -6px rgba(0,0,0,.3) !important;
    -moz-box-shadow: 0 5px 5px -6px rgba(0,0,0,.3) !important;
    box-shadow: 0 5px 5px -6px rgba(0,0,0,.3) !important;
    width: auto;
}

    .btn .btn-block:active, .btn .btn-lg:active {
        -webkit-box-shadow: inset 0 3px 3px -5px rgba(0,0,0,.3) !important;
        -moz-box-shadow: inset 0 3px 3px -5px rgba(0,0,0,.3) !important;
        box-shadow: inset 0 3px 3px -5px rgba(0,0,0,.3) !important;
    }

.btn-main {
    background-color: #3e4f77 !important;
    border-color: #4e6498 !important;
    text-shadow: 1px 1px 0 #232bd5 !important;
    padding: 2px 6px 1px 6px !important;
}

    /*.btn-main:hover, .btn-main:focus {
        background-color: #005bff !important;
    }*/

.btn-form {
    background-color: #dddddd !important;
    color: black !important;
    border: 1px groove #bbbaba !important;
    padding: 2px 6px 1px 6px !important;
    font-size: 17px !important;
    font-weight: normal !important;
    font-family: calibri;
    margin: 16px 0 2px 0 !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

    /*.btn-form:hover {
        background-color: #ffffff !important;
        color: black !important;
    }*/

.btn-pressure {
    position: relative !important;
    margin-bottom: 0;
}

    .btn-pressure:focus {
        -moz-outline-style: none !important;
        outline: medium none !important;
    }

    .btn-pressure:active, .btn-pressure.active {
        top: 4px !important;
        border: 0 !important;
        position: relative !important;
    }

.btn-sensitive:active, .btn-sensitive.active {
    top: 1px !important;
    margin-top: 4px !important;
}

.btnIcon {
    width: 10% !important;
    height: 30px !important;
}

.btnIconRpt {
    width: 28px !important;
    height: 28px !important;
    padding: 5px 0 0 1px !important;
    font-size: 16px;
    margin-top: 5px !important;
}

.btnGrid {
    font-size: 11px !important;
    letter-spacing: 1px;
    padding: 2px 6px 1px 6px !important; 
}

.divNot {
    /*box-shadow: 0 0 20px rgba(0, 0, 0, .6);*/
    background-color: #f3f3f3 !important;
    padding-bottom: 15px;
    overflow: auto;
    text-align: center;
    border: 1px solid #c7c7c7;
}

.captionNot {
    color: #565656;
    font-size: 17px;
    font-weight: normal !important;
    line-height: 2.2;
}

.HomeInform {
    color: #00164a;
    font-size: 20px !important;
    padding: 8px 0 5px 0;
    font-weight: normal !important;
    width: 100%;
}

.frmTitleDiv {
    font-size: 19px;
    font-weight: normal;
    color: #616161;
    line-height: 43px;
    text-align: left;
    height: 60px;
    background-color: #ffffff !important;
}

.frmTitleTxt {
    padding: 8px 0 5px 0;
    font-weight: bold !important;
}

.modalDiv {
    background-color: #ffffff;
    border: 1px solid silver;
    overflow: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .8);
}

.popTitle {
    color: #ffffff !important; 
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500 !important;
}

.ClosePopupCls {
    color: red;
    float: right;
    height: 12px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
}

.ClosePopupCls a:link {
    color: red;
    text-decoration: none;
}

.ClosePopupCls a:visited {
    color: red;
    text-decoration: none;
}

.ClosePopupCls a:hover {
    color: red;
    text-decoration: none;
}

.arabic {
    font-family: Traditional Arabic;
    direction: rtl;
    font-size: 17px !important;
}

.error {
    font-size: 1em !important;
    color: red !important;
}

#menu-icon {
    background-image: url('../../../images/menu.png');
    cursor: pointer;
    right: 1.0em;
    height: 32px;
    position: fixed;
    top: 2em;
    width: 33px;
    z-index: 99999999999999;
    background-repeat: no-repeat;
    border: 2px solid #FFFEFA;
}

    #menu-icon.active {
        background-image: url('../../../images/menu.png');
    }


#side-edit-window1, #side-edit-window1-overlay {
    background-color: #ffffff;
    border-style: solid;
    border-width: 0px;
    padding-right: 2em;
    padding-left: 2em;
    position: fixed;
    right: -60em;
    bottom: 0;
    top: 75px;
    padding-top: 5px;
    box-sizing: border-box;
    z-index: 999999999999999;
    height: auto;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    width: auto;
    box-shadow: -1em 2em 3em #C4C7CA;
    overflow: auto;
}

    #side-edit-window1.active {
        right: 0;
    }

#side-edit-window1-overlay {
    background-color: Black;
    z-index: 21;
    opacity: 0.5;
    -moz-opacity: 0.5;
}

.div_Frmlbl {
    text-align: right;
}

.Frmtxt {
    font-size: 14px;
    color: #292828 !important;
    font-weight: normal !important;
    height: 32px !important;
    border: none;
    border-radius: 0 !important;
    border-bottom: 1px solid #989898 !important;
    
}

    .Frmtxt:focus {
        outline: 0;
        -moz-outline-style: none;
        border-bottom: 1px solid #354a7b !important;
        transition: 0.8s;
    }

.control-label {
    width: auto;
    line-height: 1.89;
    font-size: 14px;
    font-weight: normal !important;
    padding-top: 0;
    /*text-align: center;*/
    color: #524f4f;
}

.control-label1 {
    width: auto;
    line-height: 2.3;
    font-size: 14px;
    font-weight: normal !important;
    padding-top: 0;
    text-align: center;
    color: #524f4f;
}

.control-lblArab {
    width: auto;
    line-height: 1.59;
    font-size: 19px !important;
    font-weight: normal !important;
    padding-top: 0;
    text-align: center;
    color: #524f4f;
}

.control-lblArab1 {
    width: auto;
    line-height: 1;
    font-size: 17px;
    font-weight: normal !important;
    padding-top: 0;
    text-align: center;
    color: #524f4f;
}

.div_Clear {
    clear: both;
    height: 10px;
}

.btnSearch {
    margin: 5px 5px 0 10px !important;
}

.btnClear {
    margin-top: 5px !important;
}

.delConfirm{
    font-size: 17px;
    color: red;
    font-weight: 500;
}

.rightText {
    text-align: right;
}

.uploadImg {
    height: 100px;
    width: 150px;
    border: 1px solid silver;
    cursor:hand;
    cursor:pointer;
}

.vwPdf{
    font-size: 13px !important;
    font-weight: normal !important;
}

.btnUpload {
    color: #ff7800;
    font-weight: 600;
    width: auto !important;
    font-size: 13px !important;
    padding: 3px 15px 3px 15px !important;
}

.btnRemoveUpload {
    color: #ff7800;
    font-weight: 600;
    width: auto !important;
    font-size: 13px !important;
    padding: 3px 15px 3px 15px !important;
}

.radioboxlist radioboxlistStyle {
    padding-right: 30px;
}

.radioboxlist label {
    color: #001648;
    background-color: #ffffff;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
    clear: left;
    margin-right: 20px;
    margin-left: 10px;
    border: groove 1px;
    line-height: normal;
    font-weight: normal;
    font-size: 0.9em;
}

    .radioboxlist label:hover {
        color: black;
        background: #f3f3f3;
    }

input:checked + label {
    color: black;
    background: #f3f3f3;
}

.ChkBoxClass input {
    width: 20px;
    height: 20px;
}

.search_textbox {
    color: #000735 !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100% !important;
}

fieldset.scheduler-border {
    padding: 0 1.4em 0 1.4em !important;
}

legend{
    margin-bottom: 0 !important;
}

.notify {
    color: red;
    font-weight: normal;
    font-family: Arial;
    font-size: 12px;
    background-color: transparent;
}

.notifyArab {
    color: red;
    font-weight: normal;
    font-family: Simplified Arabic;
    font-size: 16px;
    background-color: transparent;
}

.FrmError{
    color: red;
    font-size: 1em;
    font-weight: normal;
}

.rightText {
    text-align: right;
}

.AutoExtList {
    border-bottom: solid 1px silver;
    cursor: pointer;
    color: #00163c;
    font-size: 14px;
    background-color: #eee;
    font-weight: 500;
    padding-bottom: 2px;
}

.AutoExtHighlight {
    font-size: 14px;
    color: #ffffff;
    background-color: #3e4f77;
    cursor: pointer;
    font-weight: 500;
    padding-bottom: 2px;
}

.spnIcon {
    width: 5px;
    border: 1px solid #c3c3c3 !important;
    border-radius: 0 !important;
}

    @media only screen and (max-width: 827px) {
        .section-title {
            font-size: 1.5em;
            line-height: 50px;
        }

        .frmTitleDiv {
            font-size: 19px;
        }

        .Reg_frmTitleDiv {
            font-size: 17px;
        }

        .Reg_FrmTitle {
            font-size: 16px;
        }

        .btn-form {
            font-size: 16px !important;
            margin-top: 3px !important;
        }

        .div_Frmlbl {
            text-align: left;
        }

        .div_Clear {
            clear: both;
            height: 0px;
        }

        .delConfirm {
            font-size: 12px;
            padding-top: 9px;
        }
    }

    @media only screen and (max-width: 680px) {
        .section-title {
            font-size: 1.4em;
            line-height: 50px;
        }

        .home_title {
            display: none;
        }

        .frmTitleDiv {
            font-size: 19px;
        }

        .Reg_frmTitleDiv {
            font-size: 17px;
        }

        .Reg_FrmTitle {
            font-size: 14px;
        }

        .btn-form {
            font-size: 16px !important;
            margin-top: 3px !important;
        }

        .div_Frmlbl {
            text-align: left;
        }

        .div_Clear {
            clear: both;
            height: 0px;
        }

        .delConfirm {
            font-size: 12px;
            padding-top: 9px;
        }
    }

    @media only screen and (max-width: 620px) {

        .section-title {
            font-size: 1.1em;
            line-height: 50px;
        }

        .home_title {
            display: none;
        }

        .frmTitleDiv {
            font-size: 19px;
        }

        .Reg_frmTitleDiv {
            font-size: 15px;
        }

        .Reg_FrmTitle {
            font-size: 12px;
        }

        .btn-form {
            font-size: 16px !important;
            margin-top: 2px !important;
        }

        .div_Frmlbl {
            text-align: left;
        }

        .div_Clear {
            clear: both;
            height: 0px;
        }

        .delConfirm {
            font-size: 12px;
            padding-top: 9px;
        }

        .div_Home {
            font-size: 13px;
            padding: 16px 10px 0 0;
        }
    }

    @media only screen and (max-width: 480px) {

        .section-title {
            font-size: 1em;
            line-height: 50px;
        }

        .home_title {
            display: none;
        }

        .frmTitleDiv {
            font-size: 17px;
        }

        .Reg_frmTitleDiv {
            font-size: 13px;
        }

        .Reg_FrmTitle {
            font-size: 12px;
        }

        .btn-form {
            font-size: 14px !important;
            margin-top: 4px !important;
        }

        .logoImg {
            width: 100px;
            height: 45px;
            float: left;
            margin-top: 5px;
        }

        .div_Usr {
            font-size: 1em;
        }

        .div_Frmlbl {
            text-align: left;
        }

        .div_Clear {
            clear: both;
            height: 0px;
        }

        .divHeading {
            font-size: 13px;
        }

        .divHeading2 {
            font-size: 13px;
        }

        .delConfirm {
            font-size: 12px;
            padding-top: 9px;
        }

        .div_Home {
            font-size: 12px;
            padding: 18px 10px 0 0;
        }
    }

    @media only screen and (max-width: 315px) {

        .section-title {
            font-size: 0.8em;
            line-height: 50px;
        }

        .home_title {
            display: none;
        }

        .frmTitleDiv {
            font-size: 15px;
        }

        .Reg_frmTitleDiv {
            font-size: 11px;
        }

        .Reg_FrmTitle {
            font-size: 11px;
        }

        .Ez-title {
            font-size: 13px;
        }

        .btn-form {
            font-size: 13px !important;
            margin-top: 5px !important;
        }

        .logoImg {
            width: 80px;
            height: 35px;
            float: left;
            margin-top: 5px;
        }

        .div_Usr {
            font-size: 0.9em;
        }

        .div_Frmlbl {
            text-align: left;
        }

        .Frmtxt {
            font-size: 13px;
        }

        .Reg_FrmLabel {
            font-size: 13px;
        }

        .Frmddl {
            font-size: 13px;
        }

        .control-label {
            font-size: 13px;
        }

        .div_Clear {
            clear: none;
            height: 0px;
        }

        .divHeading {
            font-size: 13px;
        }

        .divHeading2 {
            font-size: 13px;
        }

        .delConfirm {
            font-size: 12px;
            padding-top: 9px;
        }

        .div_Home {
            font-size: 10px;
            padding: 18px 10px 0 0;
        }
    }

    .svbtn{
    background: #B73135 !important;
    color: #fff !important;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 0px 0px #92272a !important;
    padding: 9px 25px 8px 25px !important;
    font-weight: bold !important;
    font-size: 16px !important;
    border: none !important;
    border-radius:3px;
    line-height: 100%;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, background 0.2s ease-in-out, border 0.2s ease-in-out;
   
    }

.homebtn {
    width: auto !important;
    font-weight: normal !important;
    padding: 3px 15px 3px 15px !important;
    background-color: #5C87B2 !important;
    border-bottom: none !important;
    border-radius: unset;
}

.srchbtn {
    width: 15% !important;
}

.topbtn {
    width: auto !important;
    color: #fff !important;
    border: none !important;
    padding: 2px 20px 2px 20px !important;
}

.rembtn {
    float: right;
    background-color: red !important;
    border: 0 !important;
    height: auto !important;
    width: auto !important;
    line-height: 1.7;
    margin-right: 7px !important;
}

.VmIcon
{
    border-radius: 0px !important;
    border: 1px solid #c3c3c3 !important;
}