@model EzBusiness_EF_Entity.LeaveSettlement

@{
    ViewBag.Title = "GetLeaveSettlementReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<script src="~/Scripts/Application/LeaveSettlementDetails.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>


<br />
<ol class="breadcrumb">
    <li class="active strong1">
        <strong>Leave Settlment Report</strong>
    </li>
</ol>

<div class="row">
    <!--updated code-->

    <div class="col-md-12 no-padding navbar-expand-lg">

        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">Leave Settlment Report</h3>
            </div>
            <div class="panel-body" style="margin-left:10px;">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="control-label col-md-3">From Date <i class="star">*</i></label>
                        <div class="col-md-9 input-field">
                            <input id="fdatetxt" class="form-control datepicker" name="fdatetxt" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-3">To Date <i class="star">*</i></label>
                        <div class="col-md-9 input-field">
                            <input id="tdatetxt" class="datepicker form-control" name="tdatetxt" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label col-md-3">EmpCode</label>
                        <div class="col-md-9 input-field">
                            <input type="text" required name="" id="empcodetxt" placeholder="" class="form-control">
                        </div>

                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-3">EmpName</label>
                        <div class="col-md-9 input-field">
                            <input type="text" required name="" id="empnametxt" placeholder="" class="form-control">
                        </div>

                    </div>
                </div>

                <br />
                <div class="title-action">
                    <button class="btn btn-primary btn1" id="btnSearchData"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>

                    <button class="btn btn-warning btn1" id="btncancel"><span class="glyphicon glyphicon-off"></span>&nbsp; Cancel</button>

                </div>


            </div>
        </div>
    </div>

</div>
<div style="display:none" id="displayleaveset">
    <div class="row-fluid">
        <!-- <h3>Contractor Information</h3> -->
        <div class="span12">
            <div class="widget-content nopadding">
                <table class="table table-bordered" id="LeaveSettreport">
                    <thead>
                        <tr>
                            <th>Sr.No</th>
                            <th>Employee Code</th>
                            <th>employee Name</th>
                            <th>LStartDate</th>
                            <th>LendDate</th>
                            <th>Sanctioned_Days</th>
                            <th>Total_days</th>
                            <th>Total_worked_Days</th>
                            <th>Total_LE_Days</th>
                            <th>LB_CF_Days</th>
                            <th>Leave_Salary</th>
                            <th>Addition_amt</th>
                            <th>Deduction_Amt</th>
                            <th>Ticket_amt</th>
                            <th>Ticket_Paid</th>
                            <th>Pending_Salary</th>
                            <th>Advance_Salary</th>
                            <th>Advance_Paid</th>
                            <th>Actual_Salary</th>
                            <th>Net_Pay</th>
                            <th>salary_effect_date</th>
                          
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
        $(document).ready(function () {
           
            EzdteformtcurRep('#fdatetxt,#tdatetxt', 'DD/MM/YYYY');
            LeaveSet.initialize();
            });
</script>





