@model EzBusiness_EF_Entity.ShiftMaster

@{
    ViewBag.Title = "GetShiftMasterDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*@Scripts.Render("~/bundles/jquery")*@


<script src="~/Scripts/Application/ShiftMasterDetail.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>

@*<style>
        .portal-drivers {
            overflow-x: scroll;
            /*max-width: 40%;*/
            display: block;
            /*white-space: nowrap;*/
        }
    </style>*@

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 15px">
    </div>
</div>

<div class="row">
    <!--updated code-->

    <div class="col-md-12 no-padding navbar-expand-lg">

        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">ShiftMaster Report</h3>
            </div>
            <div class="panel-body" style="margin-left:10px;">
                <div class="row-fluid">
                    <div class="span4">
                        <div class="form-group">
                            <span style="color:red;float: left;padding: 0 5px 0 0;">*</span>
                            <label for="exampleInputPassword1">ShiftCode</label>
                            <div class="controls">
                                <input id="shiftcodetxt" class="form-control " name="shiftcodetxt" />
                                @*<input type="date" required name="" id="fdatetxt" placeholder="" class="form-control">*@
                              

                            </div>
                        </div>
                    </div>
                    @*<div class="span4">
                        <div class="form-group">
                            <span style="color:red;float: left;padding: 0 5px 0 0;">*</span>
                            <label for="exampleInputPassword1">To Date</label>
                            <div class="controls">
                                <input id="tdatetxt" class="form-control datepicker" name="tdatetxt" />
                             
                                <span class="add-on calendercls"><i class="icon-calendar"></i></span>
                            </div>
                        </div>
                    </div>*@

                </div>
                <div class="row-fluid">
                    <div class="span4" style="margin-top:2%;">
                        <button type="button" class="btn btn-primary truebtn" id="btnSearchData">
                            <i class="icon-zoom-out"> Search</i>
                        </button>
                        <button type="button" class="btn btn-warning btnexport truebtn">
                            <i class="icon-cancel"> Cancel</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div style="display:none" id="displayShiftMaster">
    <div class="row-fluid">
        <!-- <h3>Contractor Information</h3> -->
        <div class="span12">
            <div class="widget-content nopadding">
                <table class="table table-bordered" id="ShiftMasterreport">
                    <thead>
                        <tr>
                            <th>Sr.No.</th>
                            <th>ShiftName</th>
                            <th>country</th>
                            <th>division</th>
                            <th>StTime</th>
                            <th>EdTime </th>
                          
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
        $(document).ready(function () {
            debugger;
            Ezdteformtcur('#fdatetxt,#tdatetxt','DD/MM/YYYY');
            ShiftMaster.initialize();
            });
</script>


