@using ReportViewerForMvc; 
@{
    ViewBag.Title = "LeaveAppFormReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>LeaveAppFormReport</h2>
@Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer) 