
@{
    ViewBag.Title = "LoanApplicatnReportDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Scripts.Render("~/bundles/jquery")*@

<script src="~/Scripts/Application/LoanApplictnreport.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>

<br />
@*<ol class="breadcrumb">
    <li class="active strong1">
        <strong>Loan Application Report</strong>
    </li>
</ol>*@

<div class="row">
    <!--updated code-->

    <div class="col-md-12 no-padding navbar-expand-lg">

        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">Loan Application Report</h3>
            </div>
            <div class="panel-body" style="margin-left:10px;">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="control-label col-md-3">From Date <i class="star">*</i></label>
                        <div class="col-md-9 input-field">
                            <input id="fnlfdatetxt" class="form-control datepicker" name="fnlfdatetxt" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-3">To Date <i class="star">*</i></label>
                        <div class="col-md-9 input-field">
                            <input id="fnltdatetxt" class="form-control datepicker" name="fnltdatetxt" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label col-md-3">EmpCode</label>
                        <div class="col-md-9 input-field">
                            <input type="text" required name="" id="empcodetxt" placeholder="" class="form-control">
                        </div>

                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-3">EmpName</label>
                        <div class="col-md-9 input-field">
                            <input type="text" required name="" id="empnametxt" placeholder="" class="form-control">
                        </div>

                    </div>
                </div>

                <br />
                <div class="title-action">
                    <button class="btn btn-primary btn1" id="lanbtnSearchData"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>

                    <button class="btn btn-warning btn1" id="btncancel"><span class="glyphicon glyphicon-off"></span>&nbsp; Cancel</button>
                </div>

            </div>
        </div>
    </div>

</div>
<div style="display:none" id="displayloandetails">
    <div class="row-fluid">
        <!-- <h3>Contractor Information</h3> -->
        <div class="span12">
            <div class="widget-content nopadding">
                <table class="table table-bordered" id="LoanApplicationreport">
                    <thead>
                        <tr>
                            <th>Sr.No.</th>
                            <th>Employee Code</th>
                            <th>Employee Name</th>
                            <th>Loan Application Code</th>
                            <th>LoanAmount</th>
                            <th>NoOfInstalments</th>
                            <th>Instalment</th>
                            <th>Deduction</th>
                            <th>EntryDate</th>
                            <th>Balance</th>
                            <th>Remarks</th>
                            <th>Status</th>
                            <th>AutoDeductionYN</th>
                            <th>DeductionStartDate</th>
                            <th>Act_code</th>
                            <th>LoanType</th>
                            <th>ApprovalYN</th>
                            <th>AppliedAmt</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
        $(document).ready(function () {
           
            EzdteformtcurRep('#fnlfdatetxt,#fnltdatetxt', 'DD/MM/YYYY');
            loandata.initialize();
        });
</script>



