
@{
    ViewBag.Title = "MonthlyAddDeductReportDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Scripts.Render("~/bundles/jquery")*@
<script src="~/Scripts/Application/MonthlyAddDeduct.js"></script>

<script src="~/Scripts/EzComNDW.js"></script>

<br />
<ol class="breadcrumb">
    <li class="active strong1">
        <strong>Monthly Addition/Deduction Report</strong>
    </li>
</ol>

<div class="row">
    <!--updated code-->

    <div class="col-md-12 no-padding navbar-expand-lg">

        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">Monthly Addition/Deduction Report</h3>
            </div>
            <div class="panel-body" style="margin-left:10px;">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="control-label col-md-4">From Date <i class="star">*</i></label>
                        <div class="col-md-8 input-field">
                            <input id="fnlfdatetxt" class="form-control datepicker" name="fnlfdatetxt" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-4">To Date <i class="star">*</i></label>
                        <div class="col-md-8 input-field">
                            <input id="fnltdatetxt" class="form-control datepicker" name="fnltdatetxt" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="control-label col-md-4">EmpCode</label>
                        <div class="col-md-8 input-field">
                            <input type="text" required name="" id="empcodetxt" placeholder="" class="form-control">
                        </div>

                    </div>
                    <div class="col-md-6">
                        <label class="control-label col-md-4">EmpName</label>
                        <div class="col-md-8 input-field">
                            <input type="text" required name="" id="empnametxt" placeholder="" class="form-control">
                        </div>

                    </div>
                </div>

                <br />
                <div class="title-action">
                    <button class="btn btn-primary btn1" id="mnthbtnSearchData"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>

                    <button class="btn btn-warning btn1" id="btncancel"><span class="glyphicon glyphicon-off"></span>&nbsp; Cancel</button>

                </div>

            </div>
        </div>
    </div>

</div>
<div style="display:none" id="displaymonthlyadddeduct">
    <div class="row-fluid">
        <!-- <h3>Contractor Information</h3> -->
        <div class="span12">
            <div class="widget-content nopadding">
                <table class="table table-bordered" id="monthlyadddeductreport">
                    <thead>
                        <tr>
                            <th>Sr.No.</th>
                            <th>Employee Code</th>
                            <th>Employee Name</th>
                            <th>PRADN001_CODE</th>
                            <th>ADN_Amount</th>
                            <th>ADN_Act_code</th>
                            <th>Monthly type</th>
                            <th>Remarks</th>
                            <th>EntryDate</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
        $(document).ready(function () {
           
            EzdteformtcurRep('#fnlfdatetxt,#fnltdatetxt','DD/MM/YYYY');
            monthadddect.initialize();
            });
</script>


