
@{
    ViewBag.Title = "ProfessinReportDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@Scripts.Render("~/bundles/jquery")*@

<script src="~/Scripts/Application/Professionreport.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>



<br />
<ol class="breadcrumb">
    <li class="active strong1">
        <strong>Profession Report</strong>
    </li>
</ol>

<div class="row">
    <!--updated code-->

    <div class="col-md-12 no-padding navbar-expand-lg">

        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">Profession Report</h3>
            </div>
            <div class="panel-body" style="margin-left:10px;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="span4">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Profession Code</label>
                                <div class="controls">
                                    <input type="text" required name="" id="empcodetxt" placeholder="" class="form-control">
                                    <span class="add-on calendercls"><i class="icon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="span4">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Profession Name</label>
                                <div class="controls">
                                    <input type="text" required name="" id="nametxt" placeholder="" class="form-control">
                                    <span class="add-on calendercls"><i class="icon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span4" style="margin-top:2%;">
                        <button type="button" class="btn btn-primary truebtn" id="lanbtnSearchData">
                            <i class="icon-zoom-out"> Search</i>
                        </button>
                        <button type="button" class="btn btn-warning btnexport truebtn" id="btncancel">
                            <i class="icon-cancel"> Cancel</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div style="display:none" id="displayprofdetails">
    <div class="row-fluid">
        <!-- <h3>Contractor Information</h3> -->
        <div class="span12">
            <div class="widget-content nopadding">
                <table class="table table-bordered" id="profreport">
                    <thead>
                        <tr>
                            <th>Sr.No.</th>
                            <th>Profession Code</th>
                            <th>Profession Name</th>
                            <th>Profession UniCode</th>
                            <th>Profession Type</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
        $(document).ready(function () {
           

            Profdata.initialize();
            });
</script>



