@model EzBusiness_ViewModels.Models.Humanresourcepayroll.SalaryProcessDetailsRep
@{
    ViewBag.Title = "Salary Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/Application/CalculedSalaryDetailsReport.js"></script>
<script src="~/Scripts/EzComNDW.js"></script>
<br />
    <div class="row">
        <div class="custom-form-wrapper">
            <!-- BEGIN FORM-->
            <div class="form-horizontal">
                <div class="form-body">
                    <div class="row">

                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Division<i style="color:red;">*</i></label>
                                <div class="col-md-9 input-field">
                                    @Html.DropDownListFor(m => m.Division, Model.DivisionList, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Department</label>
                                <div class="col-md-9 input-field">
                                    @Html.DropDownListFor(m => m.DepCode, Model.DepartmentList, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">VisaLocation</label>
                                <div class="col-md-9 input-field">
                                    @Html.DropDownListFor(m => m.VisaLocation, Model.VisaLocationList, new { @class = "selectpicker form-control", @data_live_search = "true" })
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Date</label>
                                <div class="col-md-9 input-field">
                                    @*<input type="month" id="DateINMonth" class="date1 date-picker" >*@
                                    <input id="DateINMonth" class="form-control datepicker" name="DateINMonth" autocomplete="false">

                                    @*@Html.EditorFor(m => m.Dates, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @*@Html.TextBoxFor(m => m.CurrentDate, new { @class = "form-control", @placeholder = "Code" })*@
                                    @Html.HiddenFor(m => m.Process_Date)
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <button class="btn btn-warning" id="btncalculate" type="button">Search</button>                           
                        </div>
                        <!--/span-->
                    </div>
                </div>
            </div><br />
            <!-- END FORM-->
            <div class="">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#home">Detail</a></li>
                </ul>
                <div class="tab-content" style="display:none" id="salrcontainer">
                    <div id="home" class="tab-pane fade in active">
                        <br /><br />
                        <div class="row">
                            <div class="col-md-12">
                                <div style="overflow-x:auto;">
                                    <table class="table table-bordered  table-sm"  style="width:100%" id="tableslryDetails">
                                        <thead>
                                            <tr>         
                                                @*<th></th>*@                                     
                                                <th>Sr No</th>
                                                <th>Emp_Code</th>
                                                <th>Employee Name</th>                                               
                                                <th>Division</th>
                                                <th>Department</th>
                                                <th>VisaLocation</th>                                                
                                                <th>Prsent</th>
                                                <th>Absent</th>
                                                @*<th>Leaves</th>
                                                <th>WeeklyOff</th>
                                                <th>Holiday</th>*@
                                                <th>NOT Hrs</th>
                                                <th>NOT Rate</th>
                                                <th>NOT Amount</th>                                                
                                                <th>HOT Hrs</th>
                                                <th>HOT Rate</th>
                                                <th>HOT Amount</th>
                                                <th>WOT Hrs</th>
                                                <th>WOT Rate</th>
                                                <th>WOT Amount</th>
                                                <th>EOT Hrs</th>
                                                <th>EOT Rate</th>
                                                <th>EOT Amount</th>                                             
                                                <th>Deduction</th>
                                                <th>Loan</th>
                                                <th>Net Salary</th>                                               
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <button>Hey, click me!</button> -->
        </div>
    </div>

<script type="text/javascript">
        $(document).ready(function () {
           // EzdteformtcurRep('#fnlfdatetxt,#fnltdatetxt', 'DD/MM/YYYY');
            salr.initialize();
        });
</script>




