
@{
    ViewBag.Title = "SalrPaidFormReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>
@using ReportViewerForMvc;


@if (ViewBag.ReportViewer != null)
{
    @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer)
}
<style>
    iframe {
        border-width: 0;
    }
</style>
