
@model List<EzBusiness_ViewModels.Models.MenuItem.MenuItemsVM>
<div class="row">
   
                    <div style="padding: 10px;">
                    @*<div class="treeview">*@

                    @if (Model != null && Model.Count() > 0)
                    {
                        <ul id="treeList">
                            @TreeviewMenuRights.GetTreeView(Model, Model.FirstOrDefault().ParentFormID)
                        </ul>
                    }

               
    </div>
    -
    @*</div>*@



</div>     