@model IEnumerable<EzBusiness_ViewModels.Models.FreightManagement.FNMBranch_VM>

@{
    ViewBag.Title = "FNMBranch";
    var counter = 1;
}

<script src="~/Scripts/EzComNDW.js"></script>
<script>
   // var $ = jQuery.noConflict();
    $(function () {
        EzAuthentication("/VoyaGEDataMaster");
        EzdtePk('#JoiningDate1,#DOB1,#ContactDate1,#AbscondingDate1');//#LastRetDate1

        var poHtml = $("#POContainer").html();
        $("#POListContainer1").hide();
        function GetPurchaseOrderList() {
            $.get("/FNMBranch/GetFNM_BranchDetails", function (response) {
                $("#POListContainer").html(response);
            });
        }

        $("#btnNew").click(function () {
            debugger;
            var n = EzAuthenticationBtn("/VoyaGEDataMaster", "NewIt");
            if (n == 1)
            {
                $("#editshow").hide();
                $.get("AddFNM_Branch", function (response) {
                    $("#POContainer").html(response);
                });
                $(this).css("visibility", "hidden");
                    EzbtnNewAcVis();
                    $("#POContainer1").hide();
            }

        });

        $("#btnEdit").click(function () {
            var n = EzAuthenticationBtn("/VoyaGEDataMaster", "ViewIt");
             if (n == 1) {
                 $(this).css("disabled", true);
                 EzbtnEditAcVis();
                 $("#POListContainer1").show();
                 $("#SMAContainer").html();
                 GetPurchaseOrderList();

                 $("#editshow").show();
             }
             e.defaultPrevented();
        });

        $("#btnCancel").click(function () {

            $("#editshow").hide();

            $("#POContainer").html(poHtml);
            //GetPurchaseOrderList();
            // $('input[type=search]').addClass('form-control input-sm');
            EzbtnCancelAcVis();
           // EzdtePk('#JoiningDate1,#DOB1,#ContactDate,#AbscondingDate');//#LastRetDate1,
           // EzdtePk('#StartDate1,#EndDate1,#NomineeDOB1');
            // EzdtePkyyyy('#ObtainedYear1');
            GetPurchaseOrderList();
            $("#POListContainer1").hide();

        });


        $("#btnDelete").click(function () {
            var n = EzAuthenticationBtn("/Branch_Master", "DeleteIt");
            if (n == 1) {
                $("#editshow").hide();

                    const swalWithBootstrapButtons = Swal.mixin({
                        confirmButtonClass: 'btn btn-success',
                        cancelButtonClass: 'btn btn-danger',
                        buttonsStyling: false,
                    })
                    swalWithBootstrapButtons.fire({
                        title: 'Are you sure?',
                        text: "You won't be able to revert this!",
                        type: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'Yes, delete it!',
                        cancelButtonText: 'No, cancel!',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.value) {

                            var branchCode = $("[name='FNMBRANCH_CODE']").val();
                            $.getJSON("/DeleteFNMBranch", { branchCode: branchCode }).done(function (data) {
                                    if (data.DeleteFlag) {
                                        //$("#btnCancel").trigger("click");
                                        //EzbtnsaveAcVis("#POContainer")
                                        //$("#POContainer").html(poHtml);
                                        //GetPurchaseOrderList();
                                        window.location = '/Branch_Master'
                                    } else {
                                        EzAlertdele(branchCode);
                                    }
                            });
                            swalWithBootstrapButtons.fire(
                              'Deleted!',
                              'Your Code has been deleted.',
                              'success'
                            )

                        } else if (
                            // Read more about handling dismissals
                          result.dismiss === Swal.DismissReason.cancel
                        ) {
                            swalWithBootstrapButtons.fire(
                              'Cancelled',
                              'Your Code is safe :)',
                              'error'
                            )
                        }
                    })
                }

        });


        $("#btnSave").click(function () {
            debugger;
            $("#editshow").hide();
            var opMode = $("#hdnOperationMode").val();
            var n = EzAuthenticationBtn("/Branch_Master", "EditIt");
            if (opMode == "Add") {
                var Fcur = {
                    FNMBRANCH_CODE: $("[name='FNMBRANCH_CODE']").val().trim(),
                    DIVISION: $("[name='hdnDIVISION']").val(),
                    DESCRIPTION: $("[name='DESCRIPTION']").val(),
                    ADDRESS: $("[name='ADDRESS']").val(),
                    STATE: $("[name='STATE']").val(),
                    COUNTRY: $("[name='hdnCOUNTRY']").val(),
                    CURRENCY: $("[name='hdnCURRENCY']").val(),
                    EMAIL: $("[name='EMAIL']").val(),
                    MOBILE: $("[name='MOBILE']").val(),
                    WEBSITE: $("[name='WEBSITE']").val(),
                    PRINTNAME: $("[name='PRINTNAME']").val(),
                };             
                var validationResult = ValidateForm(Fcur);
                if (validationResult.formValid) {
                    $.post("/SaveFNMBranch", Fcur).done(function (response) {
                        if (response.SaveFlag && !response.ErrorMessage.length > 0) {
                            EzbtnsaveAcVis("#POContainer");
                            EzAlertSave();
                            $("#POContainer").html(poHtml);
                            GetPurchaseOrderList();

                        } else {
                            //Ezerrormsg("#ErrorMessage", response.ErrorMessage);
                            EzAlerterrtxt(response.ErrorMessage);
                        }

                    });
                }
                else {
                    EzAlerterrtxt(validationResult.ErrorMessage);
                }
            } else if (opMode == "Edit" && n==1) {
                // Code for Adding Purchase order
                debugger;
                var Fcur = {
                    FNMBRANCH_CODE: $("[name='FNMBRANCH_CODE']").val().trim(),
                    DIVISION: $("[name='hdnDIVISION']").val(),
                    DESCRIPTION: $("[name='DESCRIPTION']").val(),
                    ADDRESS: $("[name='ADDRESS']").val(),
                    STATE: $("[name='STATE']").val(),
                    COUNTRY: $("[name='hdnCOUNTRY']").val(),
                    CURRENCY: $("[name='hdnCURRENCY']").val(),
                    EMAIL: $("[name='EMAIL']").val(),
                    MOBILE: $("[name='MOBILE']").val(),
                    WEBSITE: $("[name='WEBSITE']").val(),
                    PRINTNAME: $("[name='PRINTNAME']").val(),
                    EditFlag:true,
                };
        
                var validationResult = ValidateForm(Fcur);
                if (validationResult.formValid) {
                    $.post("/SaveFNMBranch", Fcur).done(function (response) {
                        if (response.SaveFlag && !response.ErrorMessage.length > 0) {
                            EzbtnsaveAcVis("#POContainer");
                            EzAlertSave();
                            $("#POContainer").html(poHtml);
                            GetPurchaseOrderList();
                            } else {
                                //  $("#ErrorMessage").show().find("strong").text(response.ErrorMessage);
                                //Ezerrormsg("#ErrorMessage", response.ErrorMessage);
                                EzAlerterrtxt(response.ErrorMessage);
                            }
                        });

                    } else {
                        //Ezerrormsg("#ErrorMessage", validationResult.ErrorMessage);
                        EzAlerterrtxt(validationResult.ErrorMessage);
                    }
            }

        });

        function ValidateForm(newdetails) {

            var response = {
                ErrorMessage: "",
                formValid: false
            };
            //if (employeemaster.IsEditMode == false) {
            if (newdetails.FNMBRANCH_CODE =="") {
                response.ErrorMessage += " Select FNMBRANCH_CODE ,";
                }
            if (newdetails.DIVISION == "0") {
                response.ErrorMessage += "Please Enter DIVISION,";
            }
            if (newdetails.CURRENCY == "0") {
                response.ErrorMessage += "Please Enter CURRENCY,";
            }
            if (newdetails.COUNTRY == "0") {
                response.ErrorMessage += "Please Enter COUNTRY,";
            }
            if (newdetails.EMAIL =="") {
                response.ErrorMessage += "Please Enter EMAIL,";
            }
            if (newdetails.MOBILE =="") {
                response.ErrorMessage += "Please Enter MOBILE,";
            }
            if (newdetails.ADDRESS =="") {
                response.ErrorMessage += "Please Enter ADDRESS,";
            } 
            if (newdetails.STATE =="") {
                response.ErrorMessage += "Please Enter STATE,";
            }
            if (newdetails.PRINTNAME =="") {
                response.ErrorMessage += "Please Enter PRINTNAME,";
            }
        
                if (response.ErrorMessage.length == 0) {
                    response.formValid = true;
                }
           // }
            return response;
        }

        function parseDate(s) {
            var b = s.split(/\D/);
            return new Date(b[0], --b[1], b[2]);
        }

        $(document).ajaxError(function (event,
            xhr, settings, thrownError) {
            console.log(thrownError);
        });


        $(document).on("click", "#POList tbody tr", function () {
            debugger
            EzbtnEditAcVis();
            var operationMode = $("#hdnOperationMode").val();
            if (operationMode == "Edit") {
                $("#POList > tbody").children().removeClass("active");
                $(this).addClass("active");
                var BranchCode = $(this).find("#hdnFNMBRANCH_CODE").val();
                // var DivisionCode = $(this).find("#hdnDivisionCode").val();
                $.get("EditFNMBranch", { branchCode: BranchCode }).done(function (response) {
                    $("#POContainer").html(response);
                    //  $("#btnDelete").prop("disabled", false);
                    $("#btnDelete").css("visibility", "");
                });
            }
        });
        $("#btnPrint").click(function () {

            var n = EzAuthenticationBtn("/EmployeeMaster", "PrintIt");
            if (n == 1) {
                var code1 = $("[name='EmpCode']").val();
                window.open("/EmployeeRPTReport/?code=" + code1 + "", '_blank');
            }
        });
        $("#ObtainedYear1").on("dp.show", function (e) {
            $(e.target).data("DateTimePicker").viewMode("years");
        });

        //alert("hiii");


    });
</script>
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 btngrp">
        <div class="title-action">
            @*<button type="submit" class="btn btn-success btn1" id="btnEdit" data-toggle="modal" data-target="#editshow" data-keyboard="true"><span class="glyphicon glyphicon-edit"></span>&nbsp; Edit</button>*@

            <button class="btn btn-primary btn1 newbtn" id="btnNew"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;New</button>

            <button type="submit" class="btn btn-primary btn1" id="btnSave" style="visibility: hidden"><span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Save</button>

            <button class="btn btn-warning btn1" id="btnCancel" style="visibility: hidden"><span class="glyphicon glyphicon-off"></span>&nbsp; Cancel</button>
            <button class="btn btn-danger btn1" id="btnDelete" style="visibility: hidden"><span class="glyphicon glyphicon-remove"></span>&nbsp; Delete</button>
            <button class="btn btn-info btn1" id="btnPrint" style="visibility: hidden"><span class="glyphicon glyphicon-print"></span>&nbsp; Print</button>
            <input type="hidden" id="hdnOperationMode" value="" />
        </div>
    </div>

</div><hr />

<div class="row">
    <!--updated code-->
    <div class="col-md-12 no-padding navbar-expand-lg">
        <div class="panel panel-primary panl">
            <div class="panel-heading clearfix">
                <i class="icon-calendar"></i>
                <h3 class="panel-title">Ez Business System</h3>
            </div>
            <div class="panel-body" style="margin-left:10px;margin-top: -20px;">
                <label class="row" id="ErrorMessage" style="color:red">
                    <strong></strong>
                </label>
                <div class="tabbable-line boxless tabbable-reversed" id="POContainer">
                    <div class="custom-form-wrapper">
                        <div id="POContainer">
                            <div class="row">
                                <div class="custom-form-wrapper">
                                    <!-- BEGIN FORM-->
                                    <div class="container" id="POListContainer">
                                        @Html.Action("GetFNM_BranchDetails", "FNMBranch")
                                    </div>
                                </div>
                            </div>
                            @*<div class="row">
                                    <div class="col-md-12">
                                        <div  id="POListContainer">
                                  @Html.Action("GetEmployeeMasterList", "EmployeeMaster")
                                 </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Purchase Request List End -->
    <!-- Row end -->
</div>

